[2013-03-18 16:54] bkloster opened #9 "Define Basic Microbe Structure"
Before implementing actual gameplay, we require a basic model of how microbes in the game should behave. To get that moving along, I propose the following structural model. Most of this is gleaned from the [Microbe Stage Final Draf](http://thrivegame.forum-free.ca/t615-microbe-stage-final-draft).

A microbe has a basic shape, either
- Sphere
- Rod
- Comma
- Spiral

A microbe has these "attributes"

[2013-03-18 17:12] bkloster opened #10 "Define Microbe Interaction"
After fleshing out the basic microbe structure (see #9), the interaction between microbes and their environment must be defined.

The environment consists of at least other microbes and inert nutrients.
- A microbe can **ingest** nutrients, destroying the nutrient and raising the microbe's energy level
- A microbe can **absorb** other microbes that are smaller than itself
  - Absorbing another mic

[2013-04-19 10:19] #10 closed, assigned to nobody

[2013-04-19 10:19] #9 closed, assigned to nobody

[2013-05-13 06:32] bkloster opened #14 "Add camera system & component"
Currently, the camera is hard-coded in `OgreEngine::Implementation::setupCamera`. To make the camera properties scriptable, a `CameraComponent` should be created to enable entities to become cameras. The `CameraComponent` should have at least the following properties:

[code]

The accompanying `CameraSystem` should create an `Ogre::Camera` if necessary and apply the above settings, together with p

[2013-05-13 06:56] bkloster opened #15 "Ogre and Components"
Currently, our systems all create their own `Ogre::SceneNodes` when necessary. See for example `MeshSystem::update`, where for each entity that has a `MeshComponent`, an `Ogre::SceneNode` is created.

This could prove inefficient if an entity has multiple components that all require an `Ogre::SceneNode` to function. Those components should share a scene node. To that end, we should introduce a new

[2013-05-13 13:16] bkloster opened #16 "Add Physics Engine"
Add components and systems for simulating physics. The Bullet physics engine (http://bulletphysics.org/wordpress/) seems like a good choice.

For starters, a `RigidBodyComponent` would be sufficient. In the script API, properties like mass, friction and the collision shape should be configurable. There should also be a way to apply a force or impulse (possibly through a function, not a property).

[2013-05-13 13:22] bkloster opened #17 "Add a drop-down console for run-time Lua scripts"
The ability to run arbitrary Lua snippets during runtime would be a great tool for debugging and tweaking.

There's an example implementation of an Ogre console [here](http://www.ogre3d.org/tikiwiki/OgreConsole&structure=Cookbook) that could possibly be adapted for our purposes.

The control flow would go something like this:
1. Receive input from console in the graphics thread, put it into a Shar

[2013-05-15 06:57] #15 closed, assigned to bkloster

[2013-05-15 07:24] bkloster opened #20 "Light System"
Create an `OgreLightComponent` with the following properties (shared as `RenderData`):

[code]

A complementary `OgreLightSystem` should apply those settings to the respective `Ogre::Light`, creating one if necessary.

[2013-05-16 09:44] bkloster opened #22 "Add GUI components"
GUI elements like buttons, text input or simple labels will be needed throughout the game for menus and HUD elements. They should be completely scriptable in both creation, modification and event handling.

Steps to implement:
1. Select a GUI library that plays well with Ogre. CEGUI and MyGUI look alright, but there may be better alternatives.
2. Add this GUI library to the build setup scripts
3.

[2013-05-17 08:41] bkloster opened #24 "Scriptable Viewports"
As an addition to #14, add a script interface for adding, manipulating and removing viewports in the render window. This could be useful for showing the player events from another place in the world through a picture-in-picture.

The easiest approach would be to add an `OgreViewPortSystem` to the ogre engine and an `OgreViewport` class for the script bindings. The system should provide an interfac

[2013-05-17 17:57] bkloster opened #25 "Update locking in OgreEngine::update()"
Use the SharedLock template for exception safe locking

[2013-05-17 20:28] #20 closed, assigned to bkloster

[2013-05-18 05:46] #25 closed, assigned to bkloster

[2013-05-18 06:58] #14 closed, assigned to bkloster

[2013-05-18 07:10] Nimbal opened #28 "Add performance profiling"
Profiling is essential for identifying bottlenecks and optimization opportunities. We could use an instrumenting profiler like callgrind, but they tend to slow things to a crawl, possibly distorting the results and deterring developers from profiling routinely.

The alternative is manual instrumentation, which requires adding profiling instructions to the source code, telling the profiler what we

[2013-05-18 09:53] bkloster opened #29 "Write tutorials for script authors"
Providing script authors with instructions and examples on how to achieve certain tasks will help in bringing more people onboard for development.

Basic tutorials should include:
1. Short Lua primer
2. Introduction to entities and components
3. Creating a visible object in the game world
4. Making it move
5. Adding light
6. Viewports and cameras

Whenever a major component is added, like physics,

[2013-05-18 17:19] bkloster opened #31 "Add CPack targets"
With some configuration files, CPack can easily generate various distribution formats. Most interesting for us would probably be zip and NSIS installer.

[2013-05-18 17:45] bkloster opened #32 "Move binary assets out of git"
Git doesn't handle binary files like zips, meshes and textures very well. They tend to bloat the repository, because git has to maintain a complete copy for each change that has been committed to the file. Besides, GitHub would like to keep each repository below 1 GB. If we continue putting binary files into the repository, we will quickly reach that.

There are a variety of options to keep binary

[2013-05-18 20:53] #24 closed, assigned to bkloster

[2013-05-21 20:10] Daniferrito opened #35 "Integrate OpenAL"
Integrate openAL into the engine. The graphics thread seems like a good place, as sound should not take too much resources.

The script to install OpenAL and link it is done alredy (in the physics branch, wich should be merged soon)

[2013-05-24 21:15] #16 closed, assigned to Daniferrito

[2013-05-29 07:13] #31 closed, assigned to bkloster

[2013-05-30 08:28] bkloster opened #36 "Implement debug drawing for Bullet"
Bullet offers a feature to hook into a graphics engine and draw stuff that's helpful for debugging, such as collision hulls and contact points.

Unfortunately, we can't use the [btIDebugDraw](http://bulletphysics.org/Bullet/BulletFull/classbtIDebugDraw.html) interface to directly draw into the scene, because Bullet and Ogre run in separate threads. So we need an adapter that "records" the draw cal

[2013-09-29 20:25] #36 closed, assigned to bkloster

[2013-10-02 07:29] Nimbal opened #39 "Make player movement in microbe stage more readable"
Currently, players have very few reference points to gauge their movement speed and direction. Even if there are other objects on the screen, they might be moving, too, distorting the perception player movement.

To remedy this, design and implement a system for displaying "floaters". Floaters are small, mostly transparent particles that are overlayed onto the game world as if looking through dirt

[2013-10-02 10:17] bkloster opened #40 "Design and implement a dynamic spawning system"
For now, this is for the microbe stage, but it might be applicable for other stages as well. If possible, the design should take that into consideration. However, if in doubt, simplify in favor of a specialized version for the microbe stage.

The microbe stage is an open world in which the player can move around freely. This obviously requires dynamically creating "stuff" in the world so the playe

[2013-10-05 09:57] bkloster opened #41 "Implement organelles for processing agents into other agents"
To simulate a simple metabolism inside a microbe, organelles for transforming agents (materials) into other agents (products) are required. These ProcessOrganelles should take a set (but configurable) amount of materials from their microbe with `Microbe:takeAgent` and, if enough materials are available, store the products with `Microbe:storeAgent`.

To make the process configurable, the following

[2013-10-05 10:09] bkloster opened #42 "Add an AgentRegistry"
To facilitate the management of agent types in the microbe stage, we need a central registry for storing information about agents. The information required (or useful) per agent is currently limited to
- `id`: A unique integer id, generated with `generateAgentId` and possibly different per game instance
- `name`: A unique string for identifying the agent across game instances. Should be in English

[2013-10-05 10:16] bkloster opened #43 "Add a HUD element for displaying all agents stored in the player microbe"
Add a system for continually updating a TextOverlayComponent to display all agents that are stored in the player's microbe.

Add a named entity "hud.playerAgents" and attach a TextOverlayComponent to it. Give it a size and position somewhere in a corner.

To find out which agents are even stored by the player, you can iterate over the `vacuoles` table inside the player entity's `MicrobeComponent`.

[2013-10-12 23:31] patowen opened #44 "Modify MicrobeComponents to reflect how they will be created"
Right now, microbes are entirely made up by their organelles. What is actually needed is:

The cell's shape (Which hexes are part of the cell)
The organelles + their orientation (organelles themselves already exist)
Any sort of texturing data (may be handled later)

[2013-10-16 09:35] bkloster opened #46 "Design and implement a mechanism for discrete game states"
Eventually, the game will need to switch between different states. Examples for game states are "main menu", "microbe gameplay" or "microbe editor".

Each game state is associated with a set of active systems and active entities. Transitioning from state A to state B should follow this rough procedure:
1. Pause all systems associated with state A
2. Switch the set of active entities (?)
3. Resume

[2013-10-16 09:40] #43 closed, assigned to jjonj

[2013-10-29 08:56] bkloster opened #49 "Make the mingw setup script log to a file"
For troubleshooting, it would be very helpful to log the output of the setup script to a file that users can upload for diagnostics.

The `start-transcript` and `stop-transcript` cmdlets may be useful for this, but they have problems as detailed in [this bug report](https://connect.microsoft.com/PowerShell/feedback/details/315875/unable-to-capture-all-session-output-into-a-transcript). One of the

[2013-10-29 11:42] Nimbal opened #50 "Add documentation about building Thrive in Linux"
That documentation should list all dependencies (with versions) and common caveats when compiling them.

Additionally, an automated bash script (similar to the mingw_setup) would be nice. The documentation is still essential, though, because the script might not work as expected on all distributions.

[2013-10-29 12:22] bkloster opened #51 "Add BOOST_ROOT and BULLET_ROOT to mingw toolchain file"
Add the two lines

[code]

to the file `mingw_setup/toolchain_win.cmake.in`, then rerun the setup script and test project generation with CMake.

[2013-10-29 17:02] jjonj opened #52 "Merge prototype branch into trunk!"
Hell, it's about time!

[2013-10-29 17:51] #52 closed, assigned to bkloster

[2013-10-29 20:06] #42 closed, assigned to jjonj

[2013-10-29 20:34] #51 closed, assigned to bkloster

[2013-10-30 08:43] bkloster opened #54 "Write coding guidelines"
The guidelines should include:
- Formatting rules (indentation, tabs / spaces)
- Naming style (case, descriptive names, `m_` prefix for members)
- File system structure (file endings, where to put what)
- Comment guidelines (doxygen for public stuff, inline comments for private implementation notes)
- Git workflow (forking, feature branches, pull requests)

[2013-10-30 09:27] jjonj opened #55 "Create a RandomManager class"
Perhaps a better name for the class.

It appears we will need random generating capabilities several places in the codebase, so gathering the functionality at one place would be advantageous. Keeping track of seeds can become very useful and using the right methods important.

I recommend an interface something like this:

`RandomManager(seed)` constructor/init method
`getRandomBetween(a, b)` `get

[2013-10-30 21:01] jjonj opened #56 "Proposal: Make Microbe:storeAgent "drop" any residual agent behind microbe."
Instead of returning the remaining amount of agent and leaving it up to the caller of Microbe:storeAgent to do something with the residue. Leaving it up to the caller is certainly more flexible, but there is already code where nothing is done with the residue and it would be bothersome to have to manually "drop" it every time you call the function, as this is what i see having to happen almost eve

[2013-10-31 19:51] jjonj opened #58 "Fix bug with oxygen emitter producing 2 oxygen on game start, on top of the player."
The oxygen emitter will instantly, when the game starts, emit 2 oxygen units somewhere on top of / below the player microbe (even tho the emitter is far away from the player) which the microbe will then instantly absorb.
You'll see the microbes process organelle be non-grey due to this. If you disable distribution of oxygen to processorganelles you will notice that 2 oxygen are stored from the sta

[2013-11-02 19:10] jjonj opened #61 "Fix text allignment in HUD"
Currently it seems impossible to allign text properly on the HUD even with formatting functions (see the ingame hud component for agents).

I'm fairly confident that the underlying problem here is that the "Thrive" font isn't monospaced. My verification of this is that i tried printing the same formatted text to the console and it looks fine there.

I see three solutions:
- Patch problem whenever

[2013-11-03 16:29] jjonj opened #62 "Implement functionality for reacting to collisions."
There currently seem to be no way to add custom functionality on collisions, such as actions when microbes attack eachother, so i'll attempt to include it. I already have some very simple working code.

I'm thinking of making a CollisionSystem that relevant collision events are added to and then handled with the update method.

The way to add functionality in bullet seems to be to define a global

[2013-11-05 13:55] bkloster opened #67 "Rename "Agent" to "Compound""
As noted in [this forum post](http://thrivegame.forum-free.ca/t997p135-microbial-compounds-and-organelles#28347), agents are a special case of compounds. To avoid confusion and miscommunication between programmers and designers, all current occurences of "agent" should be replaced by "compound".

This includes:
- Renaming the components and systems defined in `src/microbe_stage/agent.*`
- Renaming

[2013-11-05 21:23] #61 closed, assigned to jjonj

[2013-11-05 21:30] bkloster opened #68 "Design and implement basic microbe AI"
Racing around with the player microbe is fun. For about 5 seconds. Let's add a little more variety and populate the world with more microbes.

To make them do something, we need some AI. For the moment, I think it would be enough to let the AI microbes chase after energy floating in the environment. If their energy storages are full, they should swim around idly until the storage is down to, say,

[2013-11-06 08:48] #54 closed, assigned to bkloster

[2013-11-08 19:48] #55 closed, assigned to jjonj

[2013-11-09 13:11] jjonj opened #70 "let empty hexes store as well"
Vacuoles should not be specialized storage as it is now, but be able to hold a mixture of compounds.
The discussion can be found in this thread from halfway down:
http://thrivegame.forum-free.ca/t997p150-microbial-compounds-and-organelles

[2013-11-11 19:50] #40 closed, assigned to patowen

[2013-11-13 10:13] #46 closed, assigned to bkloster

[2013-11-13 18:10] jjonj opened #72 "Lua errors not giving useful information."
After gamestates were merged into the branch it seems that any lua errors will just give a generic error message instead of being moderately informative as before.

Generic error message looks like this:

[code]

[2013-11-14 09:21] #72 closed, assigned to bkloster

[2013-11-18 18:56] bkloster opened #75 "Set up a workflow for art assets"
The steps required to bring a model, texture or sound into the game must be documented. They should include:
## Which file formats to use

For textures and sounds (see #35), this should be relatively straight-forward. For models, not so much, as Ogre uses its own custom file format for them.

I recommend using the [OgreAssimpConverter](http://www.ogre3d.org/forums/viewtopic.php?f=11&t=65993) which

[2013-11-19 20:05] bkloster opened #76 "Add apt package for 7za to mingw_setup/setup.sh"
The mingw setup script for Linux is missing a command to install 7za if it's not there. For Ubuntu, the proper package to install is p7zip-full.

[2013-11-20 07:54] #41 closed, assigned to jjonj

[2013-11-20 20:16] #62 closed, assigned to jjonj

[2013-11-21 10:04] #32 closed, assigned to nobody

[2013-11-21 12:07] #29 closed, assigned to bkloster

[2013-11-22 10:10] bkloster opened #78 "Compound models"
For the [Christmas Prototype](https://github.com/Revolutionary-Games/Thrive/issues/milestones), we could really use some models for compound particles. The planned compounds are:
- ATP: Energy, used for moving and some metabolic processes
- Glucose: Raw material for ATP
- CO2: Waste product of some metabolic processes and, raw material for others
- Sunlight: raw material for photo-synthesis
- RpAs

[2013-11-24 07:53] tjblazer85 opened #79 "Rock Textures"
I have finished making some textures for rocks.

Rock Textures:
RT 1: http://i.imgur.com/YjMvIFS.png
RT 2: http://i.imgur.com/nqolsaH.png
RT 3: http://i.imgur.com/KceCjOl.png
RT 4: http://i.imgur.com/DD46bCg.png

Download Link:
https://dl.dropboxusercontent.com/u/137682043/Rock%20Textures%20Set%201.zip

[2013-11-24 12:59] #79 closed, assigned to nobody

[2013-12-12 19:03] jjonj opened #83 "Implement new textures for compounds"
Please notice NickTheNicks comment below

The textures can be found here: http://s1016.photobucket.com/user/sciocont/library/CellstageSprites

We are currently just using pure models for compounds so changing to a texture approach isn't completely trivial. I don't currently have enough knowledge about ogre to make this easily, so perhaps someone else will be able do it.

I'm also personallly havin

[2013-12-15 17:46] #56 closed, assigned to jjonj

[2013-12-17 17:16] LetterShapedGlyphs opened #84 "Process Organelles and Microbe homeostasis"
It has been suggested that microbes attempt to achieve a sort of state where they eject extra compounds to try to achieve an appropriate ratio of wanted compounds.

As part of this, I think the processing organelle code should be cleaned up to follow this new structure.

In particular, the code for processing organelles should be migrated to  processOrganelle:update()

instead of being hardcoded i

[2013-12-18 15:08] patowen opened #85 "Speed up compiling"
I'm not sure whether there is a solution too this, but compilation for me is really slow. I don't know whether it is just that g++ links slowly or that something is wrong with the program. Whatever the reason, if there is a way to fix it that doesn't break anything, it would be nice.

Example: As a test, In Game::Implementation, changing unsigned short m_targetFrameRate from 60 to 61 compiled in 1

[2013-12-25 15:41] jjonj opened #87 "Compile a christmas prototype!"
It's time to get it out there!
It should include the master branch, the AI branch and possibly the sound branch!
I'll look into it, but if anyone else have comments let me know!

[2013-12-29 12:49] Daniferrito opened #88 "Closing finished issues"
There seems to be a bunch of issues that seem actually done but not marked as closed. Clearing them up would allow for easier finding of things to do. At first glance, they seem to be the following ones:
- Integrate OpenAl #53
- Make the mingw setup script log to a file #49
- Fix bug with oxygen emitter producing 2 oxygen on game start, on top of the player. #58
- Rename "Agent" to "Compound" #67

[2013-12-29 15:24] #87 closed, assigned to jjonj

[2013-12-29 17:59] jjonj opened #89 "Commit ATP files to SVN."
I don't seem to have permission myself with the anonymous user.

Files:
http://www.mediafire.com/download/8h4r8j45krln93o/ATP.zip

[2013-12-29 20:28] #83 closed, assigned to nobody

[2013-12-31 01:09] #89 closed, assigned to bkloster

[2014-01-03 19:29] #68 closed, assigned to jjonj

[2014-01-03 19:32] #88 closed, assigned to nobody

[2014-01-08 23:18] jjonj opened #92 "Fix bug with spawn system causing a crash after loading a save."
The spawn system will occasionally try to index what i suspect to be a no longer existing entity after having loaded. The reasoning i think is due to that entity being created in a now invalid timeline of the game and therefore no longer exists.

[2014-01-27 19:39] jjonj opened #93 "Include compound models from #78"
They need to be added to the assets SVN and implemented in the scripts.

[2014-01-29 17:55] jjonj opened #94 "Add code to properly remove process organelles."
I forgot to do this when i first added process organelles.

What needs to be done is to add a "removeProcessOrganelle" to the microbe class and add a "onRemovedFromMicrobe" handler to the process organelle that calls the removeProcessOrganelle function.
Look to the corresponding functions for storage organelles for how to do this.

[2014-01-29 17:59] jjonj opened #95 "Create a basic microbe editor"
It should be able to construct any microbe using pre-defined organelles.
Until #22 is done, a simple keyboard based interface should suffice.
A simple key to switch between microbe stage and microbe editor would be useful.

After realising how easy this was with nimbals gamestate system,  I have made a simple version that i will make a pull request for soon.

[2014-02-19 08:55] #49 closed, assigned to Daniferrito

[2014-02-21 08:58] #93 closed, assigned to jjonj

[2014-02-21 08:59] #78 closed, assigned to nobody

[2014-02-21 18:17] jjonj opened #98 "Fix player control code to be in accordance to microbe structure."
I'm currently working on a microbe editor and i made a microbe without a backwards organelle. This resulted in the microbe not being able to move backwards as expected but it still drains ATP when holding 'S', which is not as intended. Also make sure the amount of atp drained is in relation to the number of movement organelles (Or even better, the amount of force being exerted).

[2014-02-21 18:25] jjonj opened #99 "Design and implement hitpoints and death of microbe."
Should be fairly straightforward. Something like a deathanimation would be nice, but I'm not completely sure how to do this atm.
Furthermore, upon death, the microbe should expell the compounds it's currently containing into the enviroment.

[2014-02-21 18:25] jjonj opened #100 "Design and implement a melee organelle."
This should be done after #99 is completed

Using the collision detection system from #64 it should be possible to create a melee organelle capable of attacking other microbes.

[2014-02-24 19:25] jjonj opened #101 "Confirm that TouchableValue is actually working."
I needed the functionality of the operator overloading of TouchableValue but it did not work, i then tried calling touch() manually, which did not help either (all of this from lua). I'd like some validation that this actually works.

[2014-02-26 22:14] #101 closed, assigned to nobody

[2014-02-27 15:50] jjonj opened #102 "Death animation/model"
I'm currently working on the death of microbes, and it needs some sort of death animation! I'm not sure how animations integrate with ogre but I'm sure we can figure it out!

[2014-02-28 09:48] jjonj opened #103 "Melee organelle model"
Having a single hex block stick out of the microbe as a melee organelle will look silly. I imagine the model could be a simple pincer like thing, but if you have a better idea that would be fine as well! Preferably it will look fine with a hitbox of a hexagon shape.

[2014-03-06 23:14] jjonj opened #104 "Implement a toxin organelle"
An organelle that enables the microbe to emit harmful agents into the enviroment.
Initially a single keybinding for emitting should be fine. The angle of emission should be variable within a random range (one type might emit all around the microbe while another might emit in a cone behind the microbe)

[2014-03-06 23:19] #103 closed, assigned to nobody

[2014-03-06 23:19] #100 closed, assigned to nobody

[2014-03-13 21:43] #98 closed, assigned to nobody

[2014-03-16 23:00] tVoss opened #106 "Setup guide link broken"
I'd like to start contributing to this project a lot, but can't until the setup guide link is fixed.

[2014-03-20 00:12] #106 closed, assigned to jjonj

[2014-03-21 09:48] jjonj opened #108 "Add XML parsing library and move definitions to XML"
In terms of libraries, TinyXML, Xerces and PugiXML seem like viable alternatives.

Definitions to move to xml include:
- compounds
- processes (process organelles)
- Music

[2014-03-21 14:43] #35 closed, assigned to jjonj

[2014-03-26 17:20] jjonj opened #109 "Luabindings for OgreCameraComponent not working"
Setting properties such as fovY, polygonMode and nearClipDistance in the properties section of OgreCameraComponent, through lua, does not work.
I'm not sure if this is an isolated issue, so testing for other classes with similar properties would be a good idea.

[2014-03-26 17:27] #109 closed, assigned to nobody

[2014-03-29 16:55] jjonj opened #111 "Attempt to convert the microbe class into purely a component"
The microbe class is currently a wrapper for a microbe entity which makes for some awkward interactions with systems that require entities (such as SpawnSystem).
There is probably a good reason for it being as it is, but it would be nice with a cleaner implementation if possible.

[2014-03-29 23:50] #92 closed, assigned to jjonj

[2014-03-30 20:52] #75 closed, assigned to nobody

[2014-04-03 21:44] #94 closed, assigned to nobody

[2014-04-04 17:49] #111 closed, assigned to nobody

[2014-04-05 17:59] jjonj opened #115 "Design and implement a dynamic membrane rendering around microbes"
This will be very difficult and will require quite some experience with ogre/graphics I imagine.
The way to do it will probably be vertex buffer modification through ogre based on the hexes in the microbes compound scene node.

[2014-04-12 23:11] jjonj opened #116 "Split compound.cpp/h into multiple files"
The compound.\* files are currently stuffed with relatively unrelated stuff. It would be preferably to split them up into logical files based on domain.

[2014-04-14 20:44] jjonj opened #117 "Create microbe stage dialog and main menu."
A main menu should be a new game state heavily relying on the GUI. It should be possible to load games, enter the microbe stage and exit the game.

From the microbe stage it should be possible to open a dialog which pauses the game. The dialog should have the option to exit to the main menu, save/load game and exit thrive entirely.

[2014-04-16 17:09] #22 closed, assigned to jjonj

[2014-04-16 17:09] #67 closed, assigned to jjonj

[2014-04-16 17:10] #99 closed, assigned to jjonj

[2014-04-16 17:12] #44 closed, assigned to nobody

[2014-04-16 17:17] jjonj opened #119 "Create and add soundeffects to thrive"
Some examples of what could be nice: picking up compound, ejecting compound, collision between microbes/emitters, death of microbe, getting affected by toxins, microbe edtior placing organelle, button clicking

[2014-04-17 19:29] jjonj opened #120 "Make CEGUI scale with dynamic window resizes"
Resizing the window after the game is started does not move/scale the GUI with it.

[2014-04-19 16:54] jjonj opened #121 "Make it so the game doesn't actually "crash" when alt-f4'd"
Also when the X is clicked.

[2014-04-20 15:06] jjonj opened #122 "Make sound fade between gamestates."
This is tricky because sound sources are made as entities which are very dependant on their gamestates to exist. A solution could be to somehow queue the to-be-faded-out song in the new gamestate and set how far it was in the song and fade it out, but that would be difficult without a noticable transition.

[2014-04-20 21:46] jjonj opened #124 "Refactor spawn system to be time based"
The spawn system seems to be acting a bit wierd with regards to AI entities. It doesn't seem to take number of existing entities into account, which can cause a serious buildup of AI entities around the player and possibly other unwanted effects.

[2014-04-21 21:29] #95 closed, assigned to jjonj

[2014-04-21 21:29] #117 closed, assigned to jjonj

[2014-04-21 22:17] jjonj opened #125 "Models for organelles."
We need some models for basic organelles:
Nucleus, Normal Vacuole, Agent Vacuole (possibly multiple), Cilia and mitochondria
Also an animated Flagelium (Note that animations require special treatment to be exported successfully, see #102).
Animations can possibly also be added to the other models later.

It would be nice if an Agent Vacuole could be rushed out quick for the next release (We will h

[2014-04-21 22:24] jjonj opened #126 "Add microbe division"
This also includes adding a compound to control when to split (I believe, consult the designs) and a process to produce it.

[2014-04-27 18:59] jjonj opened #127 "Design and implement a Game-wide information system."
After having implemented more than one gamestate, I find myself using global lua variables to pass information across gamestates, such as telling the microbe stage that there is a new microbe in the microbe editor so it can fetch it.
Other types of information about the player in general will need to be stored, such as what is unlocked, the players name, the players active creature etc.
I have cre

[2014-04-28 07:26] ChizuLaCheese opened #129 "Backgrounds for Main menu and loading screens"
Main menu Bakground (do we want a dynamic one?) and background(s) for future loading screens.

[2014-04-28 07:28] ChizuLaCheese opened #130 "GUI - Main menu & Microbe"
GUI for the Main menu and the Microbe stage and editor. Designing buttons frames, icons etc.

[2014-04-29 13:19] jjonj opened #131 "Make microbes savable and loadable."
This would be a "Save" button in the microbe editor, the user is then prompted for a name and a myname.creature file would then be saved, to a predefined directory, with a little bit of metadata (explaining that its a microbe and what version of thrive it is for).
The main content of the file would be generated with the serialization system. Simply saving the entities components together using sto

[2014-04-29 22:38] #102 closed, assigned to nobody

[2014-04-29 22:40] #104 closed, assigned to jjonj

[2014-04-30 21:55] Seregon opened #132 "Deal with compound/agent pickups using the new powerup system"
For possibly simplified code, and to avoid having two systems dealing with very similar events.

[2014-04-30 21:56] ghost opened #133 "Release 2.2 fixes"
A quick list of issues found with release 2.2, to be fixed if and when possible:
- ~~Flagella add to movement force in direction they're facing, they should push, not pull.~~
- ~~Picking up the toxin organelle crashes on some systems.~~
- ~~Occasional crash when returning to game after editing.  Very rare?~~
- ~~Popup instructing players how to use toxin is missing.~~
- ~~Flagella appear to add a

[2014-05-04 11:47] #133 closed, assigned to jjonj

[2014-05-04 12:23] patowen opened #134 "Fix crash on startup"
I may have done something wrong on my end, but I have not been able to figure it out? Any idea what I'm doing wrong? The error is:

[code]

Also, it references a temp directory, which worries me. Is my best bet to delete MinGW and rerun the setup script? It did work within the last 15 or so days.

[2014-05-05 08:13] jjonj opened #135 "Collisions sometimes push objects out of Z=0"
This can be replicated easily by making a big bowl microbe and scooping up emitters.

[2014-05-05 23:04] Alexthe666 opened #136 "Cell Membrane"
Not to be pushy because you guys already have alot to do, but When will we work on the cells membrane in the microbe editor like in Oliverivers "thrive cell editor concept" video?

[2014-05-06 03:39] Alexthe666 opened #137 "Inproved microbe background"
This is a problem that I noticed that the background does is not animated (which is kind of annoying) and it is not distorted ( like it is underwater. It is also kind of boring and ugly.

[2014-05-06 14:47] #137 closed, assigned to nobody

[2014-05-06 14:57] #136 closed, assigned to nobody

[2014-05-06 16:16] #84 closed, assigned to nobody

[2014-05-06 16:34] #120 closed, assigned to jjonj

[2014-05-06 17:26] #135 closed, assigned to nobody

[2014-05-06 20:24] #134 closed, assigned to nobody

[2014-05-06 20:29] patowen opened #138 "Improvements to the setup scripts for windows."
The temp folder in MinGW is 5.54 GB on disk with 75,245 files. Based on its name, it seems like it should be deleted. However, certain folders such as cegui only exist in that directory. If the items in the temp folder are necessary, it should not be named temp.

[2014-05-06 20:42] patowen opened #139 "Move text files out of the assets directory"
This is more of a suggestion. I'm not sure if it's the best idea, but it should be considered.

Ideally, we would be using GIT for the whole project, only keeping binary files in a separate repository out of necessity. However, all gui assets besides those in "imagesets" are text files. So are all ".material" files.

Of course, there is something to be said about keeping related files together (su

[2014-05-06 21:34] Alexthe666 opened #140 "Options and controls"
Options for graphics and audio settings.
Custom key-bindings could be included here or delayed until more finalized controls have been decided.

[2014-05-06 22:03] #139 closed, assigned to nobody

[2014-05-07 02:48] Alexthe666 opened #141 "Design and implement paint mode"
How about a paint option in the microbe editor?

[2014-05-07 07:06] tjblazer85 opened #142 "Tutorial for making Microbes"
Hey Guys I think we're gonna need a tutorial on how to make a Microbe because some people might not know which organelle and how many of those organelles are needed for  a cell to be able to survive.

[2014-05-07 20:40] #141 closed, assigned to nobody

[2014-05-07 20:41] #58 closed, assigned to nobody

[2014-05-07 20:43] #85 closed, assigned to nobody

[2014-05-07 20:44] #76 closed, assigned to nobody

[2014-05-08 18:23] jjonj opened #143 "Models for new compounds: generic amino acid, ammonia and reproductase"
For cell reproduction we need a series of new compounds:
generic amino acid, ammonia and reproductase

These models are, like the previous compound models, are perhaps not permanent additions to the game but the alternative would be to use placeholders so it would be nice to have some kind of models for these, even if they aren't great looking ones.

[2014-05-08 20:28] #121 closed, assigned to jjonj

[2014-05-09 15:34] TheGuineapig opened #144 "Ingame graphics / audio options."
'Video settings' and 'volume settings' menus that can control the options ingame.

[2014-05-10 14:43] jjonj opened #146 "Design and implement a sunlight system & Photosynthesis"
Initially sunlight could simply always be available, then later a system for day/night cycles could be implemented (consult the game design document http://www.mediafire.com/view/8zmwhit67ffv8fi/Game+Design+Document+-+Microbe+Stage+v1.0.1.docx).

To utilize the sunlight, chloroplast organelles should be made available, utilizing the sunlight for ATP production + CO2 Emitters to enable the process.

[2014-05-10 14:43] #144 closed, assigned to nobody

[2014-05-10 18:58] jjonj opened #147 "Make process organelles better show color change with process speed"
Very slow processes will currently bare show a color change for process organelles. This would be more in-line if it scaled with more color change the slower the base-ratio is.

[2014-05-11 10:49] TheGuineapig opened #148 "Opening the pause menu pauses the game [Easy] [Programming]"

[2014-05-11 10:50] TheGuineapig opened #149 "Opening the pause menu pauses the game [Easy] [Programming]"

[2014-05-11 10:52] TheGuineapig opened #150 "Opening the in-game menu should pauses the game"

[2014-05-11 10:52] #149 closed, assigned to nobody

[2014-05-11 10:53] #148 closed, assigned to nobody

[2014-05-12 20:08] #126 closed, assigned to jjonj

[2014-05-16 11:50] #108 closed, assigned to jjonj

[2014-05-17 19:26] timlyo opened #152 "tinyxml.h directory problem"
I'm in the process of compiling the project, however I have an error on my system saying that it can't find "tinyxml/tinyxml.h". on my system the library is just in /usr/include/tinyxml.h.

I'm not sure if this is the same for all Linux users nor the best solution to the problem.

[2014-05-18 15:20] #152 closed, assigned to jjonj

[2014-05-18 20:39] jjonj opened #153 "FindCEGUI.cmake script that works for windows and unix"

[2014-05-22 18:55] jjonj opened #154 "Run tests and solve any issues."
I've heard disturbing reports that one of our tests in the RunTests program fails, someone should investigate!

[2014-05-26 19:30] jjonj opened #156 "Saving and loading will leave unloaded flagelia at coordinates 0,0"
Save with F4, then load with F10 and you will see Flagelia floating in the enviroment by themselves. These should be removed.

[2014-06-01 09:55] #127 closed, assigned to jjonj

[2014-06-01 18:01] #156 closed, assigned to jjonj

[2014-06-01 18:29] #153 closed, assigned to nobody

[2014-06-01 19:22] jjonj opened #157 "Add the ability to zoom in and out."
This could be the typical solution of scrolling the mouse-wheel, potentially allowing scrolling at specific locations (mouse location?).

This may require some tweaking of the engine in the ogre section.

[2014-06-01 22:23] Moopli opened #158 "Fluid dynamics"
Implement a viscous-drag and turbulence system to make the water which microbes swim through more realistic. The drag would act to minimize the relative velocity of objects with respect to the water in their immediate surroundings, causing cells to get pulled along by currents. See http://thrivegame.forum-free.ca/t1257p15-microbe-stage-gdd#30130 for details.

[2014-06-05 21:06] jjonj opened #159 "Mutation points and limited mutation."
Player should gather up mutation points as the currency of microbe evolution and use those to place organelles.
This would also be a good time to limit mutations to when the player has done division.
Refer to the GDD and forums for more details.

[2014-06-07 21:12] jjonj opened #160 "Check for crashes on reproduction and fix any issues."

[2014-06-12 02:37] Moopli opened #162 "CTD going from editor->microbe stage->menu->microbe stage"
Note -- must edit cell, any edit will do
    terminate called after throwing an instance of 'luabind::error'
      what():  lua runtime error
Any intervening state switches only puts off the inevitable.

[2014-06-12 02:41] Moopli opened #163 "CTD going from editor->menu->editor"
No editing necessary
    terminate called after throwing an instance of 'luabind::error'
      what():  lua runtime error
If you go editor->menu->stage->menu->editor->menu->editor you see double flagella, and another ->menu->editor crashes, but ->menu->stage->menu->editor seems to work forever.

I'm thinking we could use an automated test suite to do this sort of menu-change testing.

[2014-06-13 01:11] Moopli opened #164 "More verbose lua error reporting"
We need something better than

    terminate called after throwing an instance of 'luabind::error'
      what():  lua runtime error
    Aborted (core dumped)

Call stack? Lua globals dump?

[2014-06-13 22:13] Moopli opened #165 "Implement a rolling grid"
Create a multidimensional array-like thing that can constantly add rows and columns on one side while losing them at the opposite -- a rectangle/prism of active indices moving around in space, as it were. The grid will be generally centred on the player, and new data to fill the incoming edges is generated on the fly.

[2014-06-21 22:15] Moopli opened #167 "Move a bunch of the xmls in assets/ to git"
Things like the definitions, layouts, possibly the imagesets (the xml parts anyway) would be more useful if they were part of the git repo.

Issues like #146 and #130 will be much easier for it. Put images on imgur or something, push xmls to the repo, and collaboration is easy.

[2014-06-28 17:06] #122 closed, assigned to jjonj

[2014-07-01 02:42] Moopli opened #169 "165-rolling-grid looking ugly"
Ugliness with wraparound logic wrapidly getting uglier. Perhaps best to clean up and switch to VDB. See #165 for details.

[2014-07-02 01:44] Moopli opened #170 "Move website to GitHub pages"
Should be little more than a wholesale file-copy.

[2014-07-02 14:23] jjonj opened #171 "Give compound definitions a 'base value' attribute."
This should replace the current hardcoding of base compound values in microbe.lua function _resetCompoundPriorities.

[2014-07-02 20:17] #146 closed, assigned to Moopli

[2014-07-03 00:46] #167 closed, assigned to nobody

[2014-07-03 01:43] Moopli opened #174 "Add cilia"
Another movement organelle, but fundamentally different as they apply tangential force and torque.

[2014-07-03 13:27] Moopli opened #175 "Fix links issue on website"
A mod on another forum noticed that we can't middle-mousebutton on the links on our website. With a move underway, now might be the time to fix this.

[2014-07-03 23:49] Moopli opened #176 "tinyxml currently doesn't preserve whitespace in strings"
Which ruins multiline and whitespace-aligned labels

[2014-07-05 14:18] jjonj opened #177 "Loading game with f10 causes crash related to SoundSourceSystem."
To reproduce enter microbe stage, press f4, press f10

[2014-07-05 14:46] #131 closed, assigned to jjonj

[2014-07-06 00:08] #177 closed, assigned to jjonj

[2014-07-06 03:55] #162 closed, assigned to nobody

[2014-07-06 03:56] #163 closed, assigned to nobody

[2014-07-07 14:56] jjonj opened #181 "Improve background skyplanes."
The skyboxes currently have their corner at the center of the screen, causing unnecessary tiling. It would be better to have one of the corners of the skybox match one of the corners of the game.
Additionally it would nice to perhaps have a bit of animation on the skybox, such that it scrolls slightly with movement perhaps.

[2014-07-08 00:31] #157 closed, assigned to nobody

[2014-07-08 00:32] Moopli opened #183 "Unify the disparate key event systems"
Key events currently get processed by CEGUI and by Engine without any cross-interference, meaning a keypress meant for the console input for example will also trigger hotkey actions in the microbe editor, and will also cause the microbe to move in microbe stage. Getting key events eaten properly by the right things in the right order is apparently quite difficult.

[2014-07-08 01:02] #17 closed, assigned to Moopli

[2014-07-08 02:38] Moopli opened #184 "Define and load microbes from XML"
Use OrganelleFactory to place organelles on a microbe based on a definition file loaded and handled much like definitions/processes.xml

Or something similar anyway, it's probably best to keep organelles in lua, but the current default and AI microbe definitions are mighty repetitive.

[2014-07-09 22:27] #184 closed, assigned to nobody

[2014-07-10 01:18] #147 closed, assigned to jjonj

[2014-07-10 21:20] #154 closed, assigned to nobody

[2014-07-12 19:59] jjonj opened #186 "Make the game or build system create creations directory tree at startup"
The game currently crashes if the directories has not been predefined

[2014-07-12 21:08] jjonj opened #188 "Create a number of useful console commands"
Creating a new file named something like developer_functions.lua with a number of global functions that can be called from the console, would be quite useful!

Ideas for functions:
- spawnCompounds(name, amount)
- reproduce()
- spawnAI(type)
- unlockAll()
- mutationPoints() // Gives 10000 mutation points

People can then add additional debugging commands as needed!

[2014-07-14 13:34] #186 closed, assigned to jjonj

[2014-07-18 00:51] #171 closed, assigned to nobody

[2014-07-18 15:59] jjonj opened #190 "Improve and extend microbe AI"
Features that the new AI should be able to handle:
- Different modes (predatory, plantlike, prey-like possibly)
- Surviving, seeking out necessary compounds and feeding on them
- Killing other microbes (predator mode), this involves using agent vacuoles effectively
- Fleeing from predators (prey-like mode, and possibly predators from larger predators)

More ideas are welcomed

[2014-07-18 16:01] jjonj opened #191 "Basic population dynamics simulations"
This should initially have a focus on the players microbe and things like how well the player is doing for calculating a total population for the players microbe. This should also make it possible for the players microbe type to go extinct

[2014-07-18 16:04] jjonj opened #192 "Make organelles able to turn off and change game pause behavior."
Basically we want to follow this from the GDD:
"Pressing the pause key (defaults to Space) will pause the game and zoom in on the player's microbe, showing all organelles in detail. Left-clicking an organelle while paused will toggle it on or off." https://docs.google.com/document/d/1_n3SrO5DDWvQuEbL4lFAamRjQEa0nCwd9Sc--MbjrMI/edit

[2014-08-01 14:18] #169 closed, assigned to nobody

[2014-08-01 14:48] Moopli opened #195 "Build server"
Since the Jenkins server stopped working, we don't have any continuous builds. Rather than find @Nimbal and get the server running again, I've been thinking for a while to set up [Travis-CI](https://travis-ci.org/). Free, integrates with GitHub, easy to set up, the only reason we don't have Travis set up already is 'cuz I don't have the permissions required to flip the switch and turn Travis on. T

[2014-08-03 18:56] Moopli opened #196 "Placeholder hex displayed at 0,0 on startup."
Sometimes when you switch from the editor to the game, the organelle-placement cursor is visible in the environment and can be swum through. It seems the entity isn't being removed in some (possibly all) cases.

[2014-08-05 20:09] jjonj opened #198 "Zooming out to max in editor and placing organelle at the edge will create an out of bounds crash."
Bug discovered by T0N12 and reproduced by me.

[2014-08-05 20:28] #129 closed, assigned to nobody

[2014-08-06 15:13] nyxingen opened #199 "Panda Cloud detect Trive.exe (0.2.3-rc1) like Virus"
Say that it is a suspicious element.

[2014-08-06 15:25] #199 closed, assigned to nobody

[2014-08-07 05:03] T0N12 opened #200 "Get a Digital Signature to pass Antiviruses"
Should be done when Thrive becomes popular.

[2014-08-07 15:37] #116 closed, assigned to nobody

[2014-08-07 21:13] T0N12 opened #202 "Make the microbe editor grid visible"
In white

[2014-08-07 21:16] T0N12 opened #203 "Change the cursor hex to white and make any organelle selected flash between white and it's texture."

[2014-08-08 21:06] #181 closed, assigned to nobody

[2014-08-08 21:08] #159 closed, assigned to jjonj

[2014-08-08 21:10] #183 closed, assigned to Moopli

[2014-08-13 21:51] jjonj opened #206 "Prevent undo changes from costing mutation points in microbe editor"
This could be done by maintaining a list of original organelles and simply checking if the state of the original organelles (when the microbe editor was entered) is the same as the recent change, and then make it free in terms of MP

[2014-08-14 22:56] #200 closed, assigned to nobody

[2014-08-15 13:42] jjonj opened #207 "Undo-redo feature in microbe editor"

[2014-08-21 21:44] #203 closed, assigned to nobody

[2014-08-21 21:55] #198 closed, assigned to nobody

[2014-08-23 20:43] jjonj opened #209 "Make current/make new "Seamless" textures for the backgrounds"

[2014-08-27 22:23] #207 closed, assigned to HariboTer

[2014-09-08 09:49] jjonj opened #211 "Rename the ogre logfile from default to something sensible"
A look into the ogre documentation should be sufficient for this.

[2014-09-15 22:30] #165 closed, assigned to Moopli

[2014-09-15 23:03] jjonj opened #212 "Have the main menus gui read the thrive version in the corner from thriveversion.ver file."

[2014-09-16 14:33] Moopli opened #214 "NOP .travis.yml"
Make a .travis.yml that does nothing and succeeds -- gets rid of the pesky warnings, and can easily be replaced once we have a working build for the travis-ci environment

[2014-09-17 04:12] #214 closed, assigned to nobody

[2014-10-04 18:01] jjonj opened #216 "Create mode/tool for adjusting gui during runtime."
This at least involved a way to reload .layout files on runtime! But smarter solutions could be devised.

[2014-10-06 17:58] T0N12 opened #217 "Move website images and game imagesets to somewhere else"
Semi-repeat of issue #167 but website images weren't included in the issue. Hosting them on imgur or somewhere else would make issues like #130 would be easier as github doen't store binarys very well, and website upkeep would be easier as it would be smaller.

[2014-10-06 22:45] T0N12 opened #218 "Put the podcasts to bandcamp as we have the music up there as well."

[2014-10-07 23:37] #218 closed, assigned to nobody

[2014-10-09 18:13] #217 closed, assigned to nobody

[2014-10-10 22:40] #150 closed, assigned to jjonj

[2014-10-12 18:20] Moopli opened #221 "Unified hotkey map"
We currently have many hotkeys, mapped all over the place; and I figure it would make things very easy if we had a simple lua file, loaded early, that stores a map of hotkey function names to Keyboard.KC_foos; and anywhere a key is used we index it there if it makes sense.

A more complicated but possibly very useful extension is to also support key combos with the map (eg, for undo/redo).

[2014-10-12 19:53] jjonj opened #222 "Have Cmake update CEGUI's version string on compilation"
the main menu layout contains Property name="Text" value="v0.2.2"  which should be updated using the thriveversion.ver file automatically. This could probably be done using cmake and have it update during compilation.

[2014-10-13 03:18] Moopli opened #223 "Curl noise"
We need curl noise, using the rolling grid, for #158

We need to integrate a noise library -- from my searching, [Accidental Noise](http://accidentalnoise.sourceforge.net/) looks good, powerful and compact enough to include wholesale in the thrive source. It also uses ToLua for lua bindings, so with a bit of work we could reasonably convert the bindings to use luabind instead, which gets rid of To

[2014-10-13 04:00] #212 closed, assigned to nobody

[2014-10-15 21:37] #202 closed, assigned to jjonj

[2014-10-15 21:50] #188 closed, assigned to jjonj

[2014-10-16 19:39] jjonj opened #224 "Fix crash while switching to alternative microbe stage with F1"

[2014-10-16 22:22] Moopli opened #225 "Make pushing microbes not trigger the bump sound"
When pushing a microbe, the bump sound is repeatedly triggered; the conditions for the sound effect need to be tightened somewhat because pushing a microbe currently makes lots of noise.

Perhaps scaling the volume by their relative speed?

[2014-10-16 22:31] Moopli opened #226 "Make microbe turning sound scale by turn rate"
Exactly what it says on the tin.

Currently the microbe turn sound keeps playing at normal volume even when the microbe (or AI!) is barely turning at all. This gets really annoying when there are loads of AI, constantly modifying their direction just a little, all playing a chorus of the same sound...

~~Another extension idea is to make the turning sound more continuously-playable~~ nvm that, got

[2014-10-16 22:45] Moopli opened #227 "Sound effects keep playing when game is paused"
It annoys. Not sure what the best way to handle it would be, but anything that stops them from playing during pause would be good.

[2014-10-17 00:10] #170 closed, assigned to Moopli

[2014-10-17 00:13] Moopli opened #228 "Reproduction Dialog needs to disappear after mutation"
However it currently does not.

Neither does it pause the game. Should it?

[2014-10-17 15:30] #224 closed, assigned to nobody

[2014-10-17 15:54] jjonj opened #229 "Check if ai microbes can die of starvation during a long pause in the game."
If this can be reproduced then fix the issue. It's probably a problem with renderTime vs logicTime in a system.
This might be two issues:
1. The microbe loses atp while game is paused
2. The microbe takes damage and dies while the game is paused.

[2014-10-17 16:02] jjonj opened #230 "Clicking victory message while paused, removes the menu."

[2014-10-23 21:09] #216 closed, assigned to jjonj

[2014-10-29 18:35] Moopli opened #232 "Microbe stage is sometimes paused on entry"
Enter microbe editor, return to main menu via popup menu, enter microbe stage, and the game is paused.

[2014-11-17 18:50] Oliveriver opened #233 "Add the Opening Cutscene to the game"
Somehow this short video: https://www.youtube.com/watch?v=_4WHf1cxjmo with this soundtrack: https://www.youtube.com/watch?v=8uFhKeOGf8c should be added to the start of the game at some point before the next update. I can match up the timings to begin with, but I'll need a high quality file of the video first. Then it's simply (at least, I assume it's simply - it would surprise me if there's a lot

[2014-11-17 18:57] Oliveriver opened #234 "Replace the Main Menu music and adjust some volume multipliers"
The current music for the Main Menu needs to be replaced with this: https://www.dropbox.com/s/ee91gqqvji3nd1e/Thrive%20Main%20Theme%20v2.ogg?dl=0

Also, some of the volume multipliers in the scripts have been changed to highlight the sound effects as they were being created. I'd imagine the Microbe Stage, Editor and Main Menu music should be at full volume, with ambience and sound effects slightly

[2014-11-17 18:58] #119 closed, assigned to jjonj

[2014-12-16 21:38] patowen opened #238 "Fix MinGW setup script"
I just revisited the code base, seeing if I can start working on it again, but unfortunately, the setup script does not work for me. In the middle of the script, a windows dialog appears saying that "cc1plus.exe has stopped working." Then, when invoking CMake, it says, "Required library OGRE not found! Install the library (including dev packages) and try again." with some more stuff.

This seems t

[2014-12-19 17:56] #209 closed, assigned to nobody

[2014-12-23 22:15] Moopli opened #239 "Create keymap script"
A file scripts/keymap.lua (or something similar), containing something like:
* A function that takes in a key and a series of modifiers, and returns whether that key combo is currently pressed
* A big table that maps key-combo in-game functions (eg, "editor_undo", "microbe_agent_1") to lambda-wrapped calls to the above function, with the key combo for that action in the params.

That's just my fir

[2014-12-24 16:37] Moopli opened #240 "Freebuild editor"
Background:
Editors have two uses in Thrive:
1. When accessed from a particular playthrough, an editor will edit some feature that forms part of that playthrough's state (eg, the structure of your microbe in Microbe stage, or the design of a weapon in Industrial), and thus the data pertaining to the modified feature has to be sent back and incorporated into that playthrough's state.
2. When access

[2014-12-25 17:03] Moopli opened #241 "Implement Tooltips"
CEGUI supports tooltips, and we need them. I believe it can be done entirely through XML.

[2014-12-25 22:56] jjonj opened #243 "Pause-time issues (Organelle production and movement)"
Tapping W while paused will rush your microbe forward once it's unpaused.

Organelles will keep producing/consuming ATP while paused.

These issues are most likely due to some parts of the microbe code using renderTime instead of logicTime.

[2014-12-26 04:21] #221 closed, assigned to nobody

[2014-12-29 04:08] #130 closed, assigned to Moopli

[2014-12-30 16:41] #230 closed, assigned to nobody

[2014-12-30 16:41] #229 closed, assigned to nobody

[2014-12-30 16:42] #228 closed, assigned to nobody

[2014-12-30 17:09] #206 closed, assigned to nobody

[2014-12-30 21:29] #243 closed, assigned to jjonj

[2015-01-01 04:47] Alex-the-666 commented on #240
the mutation point counter should have an infinity sign when accessed through the main menu.

[2015-01-01 04:53] Alex-the-666 opened #244 "Grid Behind in Microbe Editor"
A grid should be displayed behind the microbe editor o show a basic outline of where the player can place hexagons. Oliverriver has a video similar to what I am asking:
https://www.youtube.com/watch?v=4c-4sJRDbwk
I hope you can all see it.

[2015-01-01 05:05] Alex-the-666 commented on #192
along with what NicktheNick said, since the spacebar is the largest key its more common that players will accidentally click it and it will be a hindrance. perhaps 'Z' for zoom would be a good key.

[2015-01-01 05:10] Alex-the-666 commented on #226
I don't know how you would do it in Lua, but in java you would do this:

[code]
if(turnAmount >10){
this.playSound(SoundReader.turnNoise, 1F, 1F)
}
[/code]
so you will need some sort of If statement to see if it is turning greater than the desired amount.

[2015-01-01 15:11] Moopli commented on #244
This idea's so good it's already been implemented!

[2015-01-01 15:11] #244 closed

[2015-01-01 16:58] Alex-the-666 commented on #244
sorry, I didn't see them :)

[2015-01-01 17:08] Moopli commented on #244
I can hardly complain, I'm guilty of duplicating issues too, due to [forgetting to search](https://github.com/Revolutionary-Games/Thrive/issues?q=is%3Aissue+editor+grid).

[2015-01-01 17:37] Moopli commented on #226
I'd prefer to use a continuous turn-rate -> sound-volume function though. Something like `1 - e^(-x^2)` maybe, with a few extra twiddling constants thrown in for good measure.

[2015-01-03 02:16] Alex-the-666 opened #245 "Screen shot compatibilty"
when I try to take a screenshot(using PrtSc and the windows button) it is unable to capture an image of the game window, only the console behind and my desktop.

[2015-01-03 23:57] jjonj commented on #196
Fixed with 39367c3

[2015-01-03 23:57] #196 closed

[2015-01-04 00:43] jjonj commented on #225
fixed with adbb2fb

[2015-01-04 00:43] #225 closed

[2015-01-04 19:25] AwesomeSiebren commented on #245
Another possibility would be to make a screenshot feature into the game itself.

[2015-01-04 19:35] AwesomeSiebren commented on #240
This could be done using a global variable.
When in the game, this variable would be something else than when you are in the main menu, and all that is left would be an if function to change some of the editor.

[2015-01-04 19:45] Alex-the-666 commented on #245
yes, kinda like Minecraft.

[2015-01-04 20:04] jjonj opened #247 "Create a CEGUI window that functions as an interactable scrollable series of images"
This is to be used by the organelles in the editor

[2015-01-04 20:06] jjonj commented on #245
By running in windows mode you can take screenshots, at least I and others can, but yes we will eventually want an in-game screenshot feature :) Shouldn't be too difficult, but it is also a very low priority!

[2015-01-04 20:07] jjonj commented on #240
Yep I was thinking something simply like a global variable as well. A cleaner solution would be the player data construct that is built to maintain information across gamestates.

[2015-01-04 20:09] AwesomeSiebren commented on #240
I'm busy setting everything up, and am by no means a pro.
But I ill at least take a look!

[2015-01-04 20:45] jjonj commented on #240
Sure! Hit me up with any questions/obstacles! (Preferably by skype: jjonjex if you want fast replies)

[2015-01-05 06:13] AwesomeSiebren commented on #240
Well, I do have a problem with setting CMake up, but posted it on the forums.

[2015-01-05 16:37] AwesomeSiebren commented on #240
When I get it working, I will start.

[2015-01-06 01:52] Alex-the-666 commented on #247
So, kinda like this?
[IMG]http://i43.tinypic.com/29w1erl.png[/IMG]

[2015-01-06 14:44] jjonj commented on #247
Yeah kinda! I was thinking of just having a single row that scrolls horizontally but perhaps it would be good to support multiple lines! I'll see how difficult that is

[2015-01-06 15:29] Moopli commented on #247
I don't think it would be a good idea to have the organelle-picker absorb too much screen space -- if it expands horizontally when in use, it *has* to get out of the way easily. And it has to scroll vertically, given that we've already allocated the column on the right of the screen for organelles.

[2015-01-06 15:56] Oliveriver commented on #247
This thread page has the sort of design we're going for: http://thrivegame.forum-free.ca/t1323p90-microbe-gui-finalisation#30434

[2015-01-06 16:35] jjonj commented on #247
Right-o! Vertical scrolling should be even easier!

[2015-01-07 05:00] Alex-the-666 commented on #240
I made a mock-up of the Infinity sign thing on my mock-up GUI:
[URL=http://s1290.photobucket.com/user/Alexthe666/media/ThrivePic1_zpsb25ff3de.png.html][IMG]http://i1290.photobucket.com/albums/b533/Alexthe666/ThrivePic1_zpsb25ff3de.png[/IMG][/URL]

[2015-01-07 16:08] Alex-the-666 commented on #247
unable to post on the tread, but heres this design, if you want it.
http://s1290.photobucket.com/user/Alexthe666/media/ThrivePic1_zpsb25ff3de.png.html?o=0

[2015-01-07 20:14] Moopli commented on #247
It doesn't have to be a wheel, and in fact a wheel might be worse, since it bulks up the design for no reason. Stick to having the buttons scroll along a vertical line; maybe going transparent as they reach the ends or something.

[2015-01-07 20:16] Moopli commented on #240
@AwesomeSiebren, is the code on your fork?

[2015-01-08 10:45] jjonj commented on #247
alright!

[2015-01-08 12:48] AwesomeSiebren commented on #240
I am still figuring things out.
I can atleast view and change the code already, so the rest will come in time.

[2015-01-08 16:08] Moopli commented on #240
I've been working on improving documentation, as I want to make Thrive a very newbie-friendly project; so whenever you have a question about the code, or about developing in general, feel free to ask.

[2015-01-08 18:23] AwesomeSiebren commented on #240
Will do.

[2015-01-10 21:46] Moopli commented on #175
Issue is moot since we're going live with Wordpress soon

[2015-01-10 21:46] #175 closed

[2015-01-11 12:58] jjonj commented on #115
Had any luck patowen?

[2015-01-11 16:17] patowen commented on #115
I've managed to set it up, but I haven't worked on it. I seem to lose steam as soon as I go through the ordeal of trying to set it up. I'm also not sure whether the current algorithm I have in place is good enough, since it is not as efficient as I would like, and the resulting shape cannot easily be adjusted by changing parameters. A possible algorithm was given in the forums, but it just creates

[2015-01-13 10:59] jjonj commented on #115
Sounds fair enough! Efficiency isn't too big of a deal when doing stuff in the microbe editor and regarding bumpy surfaces then we talked about not having to align the cytoplasm in hexes, I'd imagine that this would help!

[2015-01-13 20:37] jjonj commented on #115
tjwhale created a post about a proof of concept for cell deformation: http://thrivegame.forum-free.ca/t1508-cell-membrane#31501 that perhaps could be incorporated! I'm not really sufficiently experienced in the subject to judge for myself at this point.

[2015-01-14 15:31] Moopli commented on #164
http://stackoverflow.com/questions/10768610/lualuabind-no-error-information-at-top-of-stack-after-runtime-error

[2015-01-14 15:51] Moopli commented on #115
Thing is, we don't *need* to finely tune the metaball surface -- we can convert the metaball funcion to an SDF, add some smooth noise, and the surface generated by marching-cubes will have much less regular bumpiness. Then, we can do a bunch of vertex post-processing, smoothing/roughening the surface further.

Right now, we absolutely don't need the surface produced by the metaballs to look perfec

[2015-01-14 16:07] Moopli commented on #115
Right after I wrote that comment I came up with an idea: Say you draw your microbe's skin in profile (ie, a closed, self-intersection-free curve that defines the intersection of the microbe surface with the plane which results in the largest enclosed area). Find the SDF of this curve, and you get a good starting measure of how fat your microbe should be on that part of the cross-section.  Obviousl

[2015-01-14 16:21] patowen commented on #115
That might work. However, I still think that ideally, we could bypass marching cubes all together and start out with a mesh. It could be a simple, almost cylindrical mesh that we then subdivide and smooth.

[2015-01-14 17:57] Moopli commented on #115
Well, one easy way to speed it up would be to generate at much lower resolution, and then project the generated vertices to the implicit surface. We could get, probably, at least an order of magnitude reduction in mesh size that way, since the surface shouldn't need any areas of fidelity/curvature high enough to justify the current sampling resolution.

[2015-01-14 18:18] DrChewbacca commented on #115
Hi guys, TJWhale here, I've updated my thread to show an example with multiple control points. Hope you like it!

[2015-01-14 23:22] Lepticidio commented on #234
I don`t have much idea about programming, but i have been looking around and I found this part of the script code:
    soundSource.volumeMultiplier = 0.12
    ambientEntity:addComponent(soundSource)
    -- Sound
    soundSource:addSound("microbe-theme-1", "microbe-theme-1.ogg")
    soundSource:addSound("microbe-theme-3", "microbe-theme-3.ogg")
    soundSource:addSound("microbe-theme-4", "microbe-t

[2015-01-17 02:12] Alex-the-666 commented on #245
how do you run in windows mode, Ive looked for an option and cant find one.

[2015-01-17 13:18] jjonj commented on #245
delete ogre.cfg inside your bin directory and then restart the game. You will then get the ogre graphic settings window where you can toggle fullscreen!

[2015-01-19 03:39] Moopli commented on #115
@patowen I've been thinking about bypassing marching cubes, and here's what I've come up with:

I think it would be difficult and annoying to generate a mesh by subdivision if we stick to a surface defined by hex-grid metaballs. Luckily, it should be possible if instead of metaballs we use some sort of cross-section spline thing like I described above.

Once we've generated a nice, blobby volume i

[2015-01-19 11:26] DrChewbacca commented on #115
Sounds a little like what I've been doing in my thread. Not sure if I'm on the right track at all. Have a look at the 3d stuff.

http://thrivegame.forum-free.ca/t1508-cell-membrane#31501

[2015-01-19 16:04] Moopli commented on #115
I haven't had the time to go through your code @DrChewbacca, so I can't really judge (also the reason I haven't commented). How are you generating new surface points? So far it looks nice, but the important feature missing is the triangulation of the points. Depending on how you're generating new points, this might be easy or very hard.

[2015-01-19 17:18] DrChewbacca commented on #115
Not sure what "triangulation of points" means, sorry. What I've been doing is generating the net using polar coordinates with radius and angle(s).

The algorithm is

1) Generate a net, evenly spaced by angle(s), at random radius not less than the distance from the origin to the furthest organelle.
2) Smooth the net*
3) If any point too close to an organelle (euclidean distance in space) then it is

[2015-01-19 23:39] Moopli commented on #115
An example of the sort of triangulation I mean is the [Delaunay Triangulation](http://en.wikipedia.org/wiki/Delaunay_triangulation). We need to convert the set of points into a mesh which approximates the same surface that the points approximate, and one of the best was to do this is to make triangles out of any points that are close enough, while avoiding self-intersections and other non-manifold

[2015-01-20 00:02] patowen commented on #115
We should also be careful to make sure the player has enough control over the shape and overall look of the microbe. One way to do this is to make sure that the mesh can tightly conform to hexes created by the player, but additional constraints would also be useful. Are we clear of our end goal, or does that need to be discussed in the forums?

[2015-01-20 16:07] DrChewbacca commented on #115
How I have been doing it is that for every point it's angle(s) never change(s), only it's radial distance from the origin.

So any which are neighbours at the start are neighbours for all time and then can never overlap or cross. The manifold is diffeomorphic to a sphere at all times.

This does slightly reduce the number of shapes you can have but I think it makes things nice and simple.

"where

[2015-01-23 04:20] Moopli opened #248 "Zero-sided texture surface"
http://thrivegame.forum-free.ca/t1403p465-miscellaneous-bugs-and-questions-that-don-t-deserve-their-own-thread-thread#31528

I vaguely recall seeing this before, may be a dup.

[2015-01-23 04:36] Moopli commented on #115
All the people who need to be involved are here, no worries. What scheme do you have in mind for constraining the mesh to the player-created hexes?

[2015-01-24 14:33] Oliveriver commented on #234
Yeah, I think it's almost that simple - I just put this up to make sure it isn't forgotten.

[2015-01-24 17:38] patowen commented on #115
Sorry for the lack of response, as I am not entirely sure of my scheme, yet. My previous comment was me voicing my concern that the player will be forced to play as an indistinct blob if we are not careful. I will experiment when I have time, but it involves meddling in an area of 3D graphics that I currently lack experience in.

[2015-01-24 18:13] Moopli commented on #115
@DrChewbacca

Not quite -- a mesh has not only the vertices but also the triangles connecting them. You have a vertex set which you subdivide and smooth, not a mesh.

@patowen I see what you mean -- a membrane defined by, say, NURBS, would be very smooth and boring unless we either add more control points or use some sort of trickery. Remember though: our goal for membrane rendering is to use a sh

[2015-01-24 19:10] patowen commented on #115
That's true. Giving the user control of the microbe's look in the third dimension, which the user will never see, isn't really necessary. I'm pretty sure the main problem I currently have with NURBS is that I'm not sure how easy that is to implement and how possible it will be to correctly smooth it out. A lot of this probably just comes from lack of experience.

[2015-01-24 19:18] Moopli commented on #115
NURBS aren't easy to mesh/render at all. You basically have to build a recursive subdivision surface to create more and more vertices that fit the NURBS curves, until the output mesh looks "good enough". This is why I've been trying to stick to a system that goes thorugh creating an implicit surface and then meshing that -- you can easily guarantee that it will be smooth and manifold, and you can

[2015-01-24 19:25] patowen commented on #115
That's true. The problem I find with implicit functions is that we also have to decide which points to plug in and do something like marching cubes. If we want a fine mesh and we do it naively, we'll have a dense 3D grid of points, which will likely be too slow. I used marching cubes with the metaballs in my original implementation, and that lagged a bit when the mesh was being modified.

There's

[2015-01-24 19:49] Moopli commented on #115
Well, to put it simply, then we don't do it naively, and don't generate a fine mesh.

Given that we require the membrane to be simply-connected, then we can generate the mesh by projecting the vertices of a simpler mesh (say, a sphere centered on the origin) outwards, either along the gradient, or along straight lines away from the origin. Then we apply some simple subdivision criterion (for examp

[2015-01-24 20:25] Moopli commented on #115
And now for a worked example:

Consider a membrane which the user controls using the method outlined above:
![Rabies' Concept](https://cloud.githubusercontent.com/assets/7467906/2967641/ee91ed30-db32-11e3-9b24-448562c1f373.png)
Suppose the curve is kept bilaterally symmetric, and the user cannot make a curve that "doubles back on itself" from the point of view of the nucleus (which we can justify

[2015-01-24 20:40] patowen commented on #115
I like the idea of not building a volume and just building the mesh outright, and I do know how to rotate curves around an axis. Unfortunately, I do not think that rotating curves around an axis gives players the effect they would want, since ridges would be common. I also like the idea of editing the outline of the cell rather than having the membrane determined by the hexes. I'm not sure why I w

[2015-01-24 21:48] jjonj commented on #248
Hrrm, I don't recall seeing that one before

[2015-01-24 21:52] jjonj commented on #234
It's not completely straightforward to get changes on the official repository if everything is new to you. You would need to fork -> clone -> create a "branch" -> do the change -> commit -> push -> open a pull request here with your branch. Reading up on git would be the way to go about it!

You would also need to commit the new music file to SVN (our assets)!

[2015-01-25 01:22] DrChewbacca commented on #115
I'm not really sure that I'm helping. I had another go with filling in the triangles, results are here.

http://thrivegame.forum-free.ca/t1508-cell-membrane#31533

Feel free to ignore me if I'm way out of my depth and not understanding the problem properly. Thanks for your time.

[2015-01-29 19:40] #238 closed

[2015-01-29 20:57] ptkato commented on #248
What's the hardware requirements of the game? I suspect that might be the graphic chipset.

[2015-01-30 23:33] jjonj commented on #248
We don't have any official requirements, but yeah it could be some unsupported feature on older hardware

[2015-02-01 03:44] Moopli opened #249 "Gameplay tuning for 0.2.4"
- [x] Increase reproductase production rate to speed up cell cycle
- [ ] Sanity-check all processes (Are there any unwanted free-ATP exploits? etc)
- [x] Add new poisonous microbe: oxytoxy holder and producer, but doesn't fire any
- [x] Add new hunter microbe: use oxytoxy to chase down microbes and attack them
- [x] Disable all currently-unused save/loading buttons (we need more gui work for these

[2015-02-01 19:31] jjonj opened #250 "Fix powershell script errors with bullet."

[2015-02-02 10:22] jjonj opened #253 "Fix new mysterious crash"
I reproduced this twice.
First time I was trying to test the new balance changes to reproduction and after 5 minutes of play, before achieving reproduction the game crashed.
Second time I tried again, Played for ~10 minutes and managed to reproduce once and then a bit later the crash occured.
I could not identify and particular trigger for the crash.

When crashing, the generic unhelpful lua.what(

[2015-02-02 10:33] jjonj commented on #253
Moopli have suggested @ #252 that the crash occurs on the master branch, while my testing was on the 024 tuning branch.

[2015-02-02 13:31] Untrustedlife commented on #253
Im going to get it built then ill check it out some time today

[2015-02-02 16:09] Oliveriver commented on #233
What's the likelihood of this getting into 0.2.4? I'd assume fairly low.

[2015-02-02 17:40] jjonj opened #254 "Clicking save in microbe editor crashes game"

[2015-02-02 17:44] jjonj opened #255 "Make save/load buttons functional in microbe stage"
F4 and F10 works without issue, just needs to be hooked up to the buttons.

[2015-02-02 17:56] AwesomeSiebren commented on #240
I will keep on trying, but I really am very slow.
I think that somebody else should pick this up if it needs to be done fast.

[2015-02-02 18:31] Moopli opened #256 "Wire rolling grid into compound simulation"
Microbe AI is currently very hackish because we can't easily make microbes properly swim up compound concentration gradients when we can't poll for nearby emitters. To fix this, we need an environmental compound system which uses a rolling grid as a middle-man between compound emitters and microbe AI. Emitted compound particles could leave trails (or something similar) in the grid, and the AI woul

[2015-02-02 22:49] Moopli commented on #160
The error:

[2015-02-02 23:09] Moopli commented on #160
A new error after fixing the first:

[2015-02-03 00:45] Moopli commented on #160
Another new error:

[2015-02-03 00:47] Moopli commented on #160
And more:

[2015-02-03 01:27] Moopli opened #258 "Move definitions out of assets folder"
Can probably just be done with `mv` and `sed`. Consider moving the layouts, schemes, and a bunch of other stuff too -- things which tend to be more heavily coupled to the code than to the binary assets.

Discuss the cases for and against moving different bits, and where to move them, below.

[2015-02-03 01:29] Moopli commented on #160
All these errors seem to be due to the newly-made microbe being misconfigured. It smells like a race condition between microbe creation (which does all the configuring) and the first parts of the code which need the microbe configured (which fail with errors like the above when they try running with an incompletely-initialized microbe). That explains both the nondeterministic failure and the fact

[2015-02-03 01:34] Moopli commented on #253
Is this crash the one you fixed today? Cuz I'm trying to figure out what crashes I can repro and add straces to, and I have a feeling this one is the one you resolved today.

[2015-02-03 20:29] jjonj commented on #233
I'd say that there's 25% chance I could get this to work in 4 hours work. 98% chance I could get it to work in a few days worth of looking into it.
Just a priority question! I don't mind changing priorities if desired. My current priorities are
looking into issues people have had with setting up thrive on windows,
then the scrolling selector for organelles in editor
and then look into adding a gri

[2015-02-04 03:54] Untrustedlife opened #260 "Make right-click remove hexes"
SO i did it, putting the issue down so that, you know that.

[2015-02-04 03:55] klay2000 commented on #260
good

[2015-02-04 04:04] Untrustedlife commented on #260
tortoise_git is complaining to me about how I am denied access to thrive

[2015-02-04 04:13] Untrustedlife commented on #260
I have no clue how this works, but there

[2015-02-04 04:14] Untrustedlife commented on #260
It is done ;)

[2015-02-04 04:30] Untrustedlife commented on #255
I can handle this if someone gives me a quick rundown on how the gui works.

[2015-02-04 16:29] #260 closed

[2015-02-05 21:45] jjonj commented on #253
Fixed with 5a10339

[2015-02-05 21:45] #253 closed

[2015-02-05 21:52] jjonj commented on #164
This was fixed with #257

[2015-02-05 21:52] #164 closed

[2015-02-05 21:54] jjonj commented on #176
Solutions we're found to this already with the new gui.

[2015-02-05 21:54] #176 closed

[2015-02-06 02:35] Untrustedlife commented on #255
I got this all working, but at the request of moopli, im going to have to write some code to check if teh save file exists, and turn buttons on/off because of it

[2015-02-06 17:23] #255 closed

[2015-02-06 20:47] jjonj opened #264 "Some Lua errors are printed twice."
This is a result of a naive solution: 9ed634e
In the cases where the system was already able to print stack-traces, they are now printed twice.

[2015-02-08 21:53] Moopli opened #269 "Move website to nginx"
May involve taking the website down for a while, at best, once we figure out how to do it quickly and easily, we'll just set up nginx on a different port, clone WordPress over, reconfigure, and once it's ready, swap ports with apache or something. More research definitely needed.

[2015-02-08 22:15] jjonj commented on #160
Fixed with 2589fce

[2015-02-08 22:15] #160 closed

[2015-02-08 22:16] #234 closed

[2015-02-08 22:17] jjonj commented on #250
fixed with  450e12fd

[2015-02-08 22:17] #250 closed

[2015-02-08 22:18] jjonj commented on #247
fixed with #265

[2015-02-08 22:18] #247 closed

[2015-02-09 02:51] Untrustedlife commented on #142
SO , tooltips?

[2015-02-09 02:54] Moopli commented on #142
CEGUI supports them, and I think we already have an issue open on wrapping the functionality. When that's done, we could easily add the toolip content to handle this issue.

[2015-02-09 02:57] Untrustedlife commented on #241
Note , in microbe editor, we should not only tell of the use for the organelles in game, but also some little interesting scientific tidbits

[2015-02-09 04:37] Untrustedlife opened #270 "Compound reserves should be reset on reproduce."
Right now you keep all of the compounds from before you reproduce, this results in cells that run out of room because the vacuoles get filled with atp. Resetting compound reserves to 0 when you click the "reproduce button", would force the player to get compounds again, which would lead to more fun game-play, and less frustration due to being unable to hold the compounds required for the productio

[2015-02-09 16:01] jjonj opened #271 "Create a simple arrow model and add it to the game"
It will be used to illustrate which direction is forward in the microbe editor

Remember to check this tutorial: http://thrivegame.forum-free.ca/t1402-basic-blender-modeling-animation-and-exporting-to-ogre-tutorial

[2015-02-09 18:29] jjonj opened #272 "0.2.4 remaining issues/additions"
[] - Loading or exiting the editor plays the organelle pickup sound
[ ] - Check if new theme plays properly

[2015-02-09 18:30] #272 closed

[2015-02-09 18:35] jjonj opened #273 "Check if new main menu theme is cycled in, otherwise fix"
Oliveriver:

[2015-02-09 18:36] jjonj opened #274 "Very minor 0.2.4 changes and considerations"
- [ ] Figure out whether compounds panel should start open or closed
- [ ] Change modifiers and replace soundtrack as specified in the second comment below
- [ ] Consider renaming "new game" button to "play" or "play game"

[2015-02-09 18:44] jjonj commented on #249
replaced with #274

[2015-02-09 18:44] #249 closed

[2015-02-09 18:47] jjonj opened #275 "Check if oxytoxy emission is ejecting well enough"
This comment was made:

It doesn't need to be perfect, but it should at least do an angle away from the center of the microbe still

[2015-02-09 18:49] jjonj opened #276 "Figure out apparent continued reproduction crashes"
Report by Lepticidio:

This has apparently also been reproduced by nickthenick

Another report by untrustedlife:

[2015-02-09 18:53] jjonj opened #277 "Fix crash when clicking load (in editor?)"
Steps to reproduce:

[2015-02-09 20:17] ChizuNordenstam commented on #271
It should just be a simple arrow? (but sorta unique still of course)

[2015-02-10 08:23] jjonj commented on #271
Yeah I suppose, I don't have any great artistic ideas myself so readability and re useability would be all I could request

[2015-02-10 16:03] Moopli commented on #270
Already fixed in #197, I'll leave this open until that merges.

[2015-02-10 18:33] TritiumH commented on #271
Made this simple arrow model hope it gets the job done, sorry Cheese just saw you assigned for it...
https://www.dropbox.com/s/ic2f44qsra1iusr/Arrow.rar?dl=0

[2015-02-10 21:33] jjonj commented on #273
Any version of the game seem to be stuck on always playing one or the other first every time. This could be related to the RNG seed or a bug in the soundsourcecomponent.

[2015-02-11 18:25] jjonj commented on #271
Nice one!

[2015-02-11 21:06] ChizuNordenstam commented on #271
Yeah, really cool design. It'll be cool to see that in the game.
 Heh, now I don't have to make one :P

[2015-02-13 18:03] CoenraadS opened #279 "[Windows] Game opens on wrong screen"
I have a dual monitor setup like so:

[Secondary (1600x900)] [Primary (1920x1080)]

Running Thrive will launch it at 1080p, but on the secondary monitor, causing the bottom to get cutoff, and the right to overlap onto my primary monitor.

Image: http://i.imgur.com/5isavPU.jpg

Expected behavior: Should launch on primary monitor until adding monitor preference is added.

[2015-02-13 19:32] jjonj commented on #279
Thanks for reporting!
Until we can get it fixed, perhaps you want to run it in non-fullscreen mode!
To do that you would editor or delete the ogre.cfg file

[2015-02-13 20:18] jjonj commented on #271
I added it to the game but I need to know what the animation is called so I can call it :)

Also if you could rename the material to something more descriptive to avoid collisions in the future. (I've just been renaming e.g. the material for ammonia to "ammonia"). You can do this in blender ofc, but you can also just edit it straight in the .mesh.xml (in two places) and .material (in two places) f

[2015-02-14 02:18] #276 closed

[2015-02-14 02:19] Untrustedlife commented on #273
Ill take a look at this when I have the time.

[2015-02-14 02:24] Untrustedlife commented on #273
Sounds like a seed problem to me.

[2015-02-14 13:56] TritiumH commented on #271
https://www.dropbox.com/s/gdkcgh4mi2czqce/Arrow2.rar?dl=0
Named the material and added another one, animation name is "Stand" . How is the models orientation btw, i've forgotten what it should've been?

[2015-02-14 17:53] jjonj commented on #271
An arrow models orientation is less relevant as we can simply rotate it as we want. The previous issues we're having to rotate the model in one direction while the actual object was rotated in another.

[2015-02-14 18:25] jjonj commented on #274
Polls:
http://strawpoll.me/3638540/r
http://strawpoll.me/3638590/r

[2015-02-14 18:50] jjonj opened #283 "Reentering microbe stage with "Finish" or load game plays strangely queued soundeffects"
To reproduce click New Game -> reproduce() -> editor -> Finish
And you will hear a soundeffect as soon as the game enters even when there was no recent event to trigger it.
This has seems to be the microbe bump sound for me, but oliveriver has reported other sound effects.

[2015-02-14 19:25] jjonj commented on #274
"Ok, I think I've decided on the volume multipliers - in main_menu, it's 0.8 (and the second addSound needs its name changed to main-menu-theme-2). The editor is 0.6, and in the environment music is 0.5 and ambience is 0.3, with the exception of one theme which needs to have its volume reduced. I'm currently uploading that to Dropbox as a quieter version. "

[2015-02-15 01:18] jjonj commented on #277
duplicate of #254

[2015-02-15 01:18] #277 closed

[2015-02-15 01:19] jjonj commented on #232
Has anyone reproduced this recently?

[2015-02-15 02:29] Untrustedlife commented on #232
I havnt seen it happen.

[2015-02-15 02:45] LoonyToony commented on #271
Cool, one less thing to worry about.

[2015-02-15 02:50] MontySpud commented on #275
I can confirm this to be fixed

[2015-02-15 13:20] jjonj commented on #275
I managed to reproduce it with a default microbe that has 3 random organelles pertruding from the nose followed by a toxin organelle at the tip. I'm currently working on a much better solution using collision detection

[2015-02-15 22:45] #273 closed

[2015-02-15 23:29] Moopli commented on #271
fixed by 652038f

[2015-02-15 23:29] #271 closed

[2015-02-15 23:33] Moopli commented on #143
Fixed by aa3dd7e

[2015-02-15 23:33] #143 closed

[2015-02-16 00:17] Moopli opened #285 "Save-loading malformed microbe error"
Bug:

To repro:
1. Open Thrive, start new game. Reproduce microbe, enter editor, return to game.
2. Save your game, then quit Thrive.
3. Start Thrive again, do not press new game.
4. Press load game.
5. Rejoice in the glory that is bug. Note, the missing component will change; just like the previous malformed microbe bugs.

Likely due to another system-ordering error.

[2015-02-16 16:20] #275 closed

[2015-02-16 16:47] #274 closed

[2015-02-16 16:56] Moopli commented on #285
Actually, I think the problem is that not all the components are being saved, so when the microbe is loaded, you start with a componentless entity that then doesn't get all the components it needs added.

Maybe the solution here is to initialize a default microbe, then load in all components, so the components which don't differ between one player microbe and another won't have to be saved.

[2015-02-16 17:25] #285 closed

[2015-02-16 17:38] Moopli opened #288 "Move definitions data to lua config files"
Instead of storing the definitions in XML in assets/definitions/, we should store them in lua tables somewhere in scripts/.

Two good reasons:
1. Unclutters assets folder, so it can get back to holding just the svn repo
2. Simplifies loading of definition data -- no need to write a C++/TinyXML parser for whatever chunk of data we want to load.

[2015-02-16 18:54] jjonj opened #289 "Add creation loading panel to gui and code"
The load button in the editor current does nothing.

[2015-02-16 19:59] #254 closed

[2015-02-16 22:54] Moopli commented on #258
Subsumed within #288

[2015-02-16 22:54] #258 closed

[2015-02-16 22:58] Moopli commented on #232
It can't happen any more, the menu no longer pauses the game.

[2015-02-16 22:58] #232 closed

[2015-02-18 22:22] Moopli opened #291 "Cytoplasm "organelle""
A new organelle, which:
* can be replaced by other organelles
* costs a small amount of MP
* performs glycolysis

All organelles should perform a small amount of glycolysis, scaled by the number of hexes they take up.

[2015-02-18 22:29] Untrustedlife commented on #291
it should do some glycolysis. Just far less then a mitochondria according to the GDD, it should also strore compunds (again, far less then the vacules) as-well because of the GDD.

[2015-02-18 22:31] Untrustedlife commented on #291
updated my comment*

[2015-02-18 22:39] Untrustedlife commented on #240
Assigned myself to it, unless AwesomeSiebren has something to say about it.

[2015-02-19 21:50] jjonj commented on #70
replaced by the more relevant #291

[2015-02-19 21:50] #70 closed

[2015-02-20 04:28] Moopli opened #293 "Bacteria"
Small entities that serve as compound bags and simple processors. This issue serves mostly to get basic ones into the game, so here are a bunch of features of these bacteria which could be done later:
- Swim around (run-and-tumble behaviour,  of course)
- Aggregate in clumps, strings, and networks
- Perhaps use particle system

[2015-02-20 10:38] jjonj commented on #293
So a couple of questions:
- These would just be microbes with some specialized behavior right?
- Should we delay the tumbling behavior until fluid dynamics?

[2015-02-20 15:44] Lepticidio commented on #293
Bacteria don't have organelles, for example, and are the size of an hexe or two at most, although they make chemical reactions. For example, some make photosynthesis, others have aerobic respiration...
Perhaps they won't evolve as the microbes. Mitochondria and chloroplasts shouldn't be available until you absorb certain bacteria, perhaps with a 1/10 chance of assimilate them.

[2015-02-20 23:42] jjonj opened #294 "Basic microbe engulfment"
Current concept:
Player actives 'engulf mode' this puts the microbe into nocollide and makes it move at 1/3 normal speed. Any microbe it collides with is immobilized. Once the player moves into/on top of the other microbe such that the two microbe nucleus are within a minimum distance, the other microbe is destroyed, compounds absorbed etc.

Now that doesn't seem too difficult to implement, but it

[2015-02-21 01:08] Moopli commented on #293
@jjonj Bacteria are tiny, generally around the size of emitted compound particles. They're much more simple than microbes: no organelles, just a compound container, one process that runs over contained compounds, compound emission/absorption, tiny mesh, and movement. Tumbling doesn't involve any fluid dynamics stuff, as all we'd see is the bacterium pivoting around a bit while position stays const

[2015-02-21 01:17] Untrustedlife commented on #293
looks to me like a bacteria is about 1/5th the size of a red blood cell
http://www.microbiologyonline.org.uk/about-microbiology/introducing-microbes/overview

[2015-02-21 01:25] Moopli commented on #293
1. Bacteria come in all sorts of sizes, from tenths to rare hundreds of microns. Though the ones we'll be dealing with will likely all be in the 0.5-5µm range.
2. Red blood cells are small -- note the paramecium on that scale, that's the general size range we're in.
So I stand by my point, all but the biggest bacteria will essentially be dots several pixels large at default zoom. That's why an imp

[2015-02-21 01:26] Untrustedlife commented on #293
https://www.uoguelph.ca/foodscience/book-page/microorganisms
heres another source.

[2015-02-21 01:27] Untrustedlife commented on #293
Woah, I seem to have found that Mitochondria are about 1 upm in size, same size as a bacteria.
http://book.bionumbers.org/how-big-are-mitochondria/
neat. What scale will we sue for them?

[2015-02-21 05:04] Untrustedlife commented on #240
Looking at this issue, I will try to get all the stuff in it as stated done. SO next thing up, it needs to use the default microbe......

[2015-02-21 08:17] NickTheNick commented on #293
Actually, for mitochondria, some cells have over a thousand, whereas with
our system it would be impossible for a cell to even be 1000 hexes big, let
alone 1000 hexes of mitochondria. That will be something we will have to
revisit when we switch to a dynamic membrane system. With no discrete
minimum size for organelles, we can make mitochondria smaller and thus
allow for more in a cell (I'm thinki

[2015-02-21 18:15] Lepticidio commented on #293
Sorry for huge post

First things first, yeast is an eukaryotic cell, in fact, is fungi :
http://en.wikipedia.org/wiki/Yeast
Mitochondrion are 4 upm long and 1 upm wide (diameter).
http://htwins.net/scale2/
http://en.wikipedia.org/wiki/Mitochondrion

Early microbe cells should be smaller than later microbe cells. So, by the end of microbe stage, you cell can be as big as a big eukaryotic cell (par

[2015-02-21 18:31] Moopli commented on #293
Nice numbers! Adding on to that, the choanoflagellates (our closest non-animal relatives) are about 3-10µm in size, so that's likely about how big the earliest animal cells were. Note though, about mitochondria: I found a paper once (sadly I can't find it now) that demonstrated that mitochondria are not small pill-shaped things, but are actually larger networks, and pill-shaped appearance in elect

[2015-02-22 00:19] #239 closed

[2015-02-22 13:06] elfring opened #298 "Complete quoting for parameters of some CMake commands"
Some parameters (like "[${ASSET_DIRECTORY}/models](https://github.com/Revolutionary-Games/Thrive/blob/7488252efb4b4af4d7e022fc204f9c6b00ecef9f/CMakeLists.txt#L24)" and "[${CMAKE_CURRENT_SOURCE_DIR}/component.cpp](https://github.com/Revolutionary-Games/Thrive/blob/356f0070899c2b16009ad053566866eb1f393231/src/engine/CMakeLists.txt#L3)") are passed to CMake commands in your build scripts without encl

[2015-02-22 15:07] alkavan opened #299 "Issue compiling on Gentoo (CEGUI, FindCEGUI)"
Trying to build the game on Gentoo system.
First, I found there's a dependency package called ```dev-games/ois-1.3``` not mentioned in README.md.

I added to ```cmake_modules/FindCEGUI.cmake``` two paths so the script will find CEGUI on my system as it failed to find it by default.

[code]

And also:
[code]

I also had to comment out conditions related to file names. Case with ```CEGUIBase-0``` an

[2015-02-22 15:17] Moopli commented on #299
My current build setup uses an ugly kludge, `sudo mv /usr/local/include/cegui-0/CEGUI /usr/local/include/CEGUI`. Try adding `/usr/local/include/cegui-0` to `FindCEGUI.cmake:CEGUI_INCLUDE_SEARCH_DIR`.

[2015-02-22 15:38] alkavan commented on #299
I just successfully built it.
Only one extra change was need, I had to add the following GCC environment variable:
[code]

I'm not entirely sue if this is an issue with Gentoo's package location or the supplied FindCEGUI.cmake script. Perhaps the script needs some adjustments?

[2015-02-22 16:30] hhyyrylainen commented on #299
I had a similar issue which I solved by using the official CEGUI find script from: https://bitbucket.org/cegui/cegui/src/b819d0566f1220e710d55e0600fc4b19b38e4f07/cmake/FindCEGUI.cmake?at=default
Only other change I had to do was adding
[code]
to the list of libraries which ThriveLib links against in the top level `CMakeLists.txt`
[code]

[2015-02-22 17:04] Moopli commented on #269
Just did it

[2015-02-22 17:04] #269 closed

[2015-02-22 17:43] #191 closed

[2015-02-22 17:43] #270 closed

[2015-02-22 18:25] jjonj commented on #299
This is my fault for adding some windows specific directory renaming when I added CEGUI sorry!

[2015-02-22 20:07] alkavan commented on #299
great thanks, this seems like my initial issue not finding: ```/usr/include/cegui-0/CEGUI/CEGUI.h```.

[2015-02-22 20:44] alkavan commented on #299
Here's an update. I tried the solution @hhyyrylainen offered.
It seems to work the best without the need adding ```/usr/local/include/cegui-0``` to global include path, the updated FindCEGUI.cmake from that repository did the job, in it seems it found couple of more stuff I did not see before during configuration.

[2015-02-22 21:22] jjonj commented on #299
That find script won't work with the way we set things up on windows without some heavy modifications. I should be able to get the current one working!

[2015-02-24 00:43] Seregon commented on #293
I see bacteria as filling a few separate roles, in terms of filling out the microbe stage gameplay:
- a less dangerous food source for 'herbivorous' microbes (they may be toxic, but won't actively fight back
- a way of concentrating background compound levels to a point where they're worth consuming
- a way of carrying out processes that eukaryote life either can't, or hasn't yet evolved too, typi

[2015-02-24 18:35] TritiumH commented on #293
On that scale bacteria are clearly visible as different entities tough,
https://www.youtube.com/watch?v=TwqBsRtciX8
I would say that displaying them as clouds would be worse as there would be less organisms in the environment to interact with, as you said Seregon bacteria could be a source of compounds, competition, or be real danger to the player (for instance oxygen is very reactive and is toxic

[2015-02-24 18:38] Lepticidio commented on #293
I agree with Tritium, to treat bacteria as clouds in this stage is unrealistic. As we discussed before, your cell could be as small as 10 upm, which is only 5 times bigger than average bacteria. Perhaps when multicellular is reached and you achieve certain size we could replace the bacteria agents with bacteria clouds.

[2015-02-24 18:59] hhyyrylainen commented on #299
I need to potentially modify the find CEGUI script to add support for finding different versions.
As Ogre 2.0 requires CEGUI default branch (version number 9999). I already found a way to define the version with the official script but it should be relatively easy to modify the current one. But it would most likely conflict with any fixes to the include paths/I would have to later fix those, too.

[2015-02-24 20:19] Untrustedlife commented on #293
I agree with both tritium and Lepticidio

(and what seregon said about endosymbiosis as I believe that mechanic to be very important)

[2015-02-24 23:49] jjonj commented on #299
I already created a pull request for a fix, just needs to confirm that if it does indeed work on linux. #300

[2015-02-25 03:25] Moopli commented on #293
I do like the idea of bacteria providing colour and interest to the environment, but I think seregon is mistaken to suggest that bacteria can only be environmental if they are clouds. What I've suggested several times before (which nobody yet has argued against) is that a lot of (maybe even most) bacteria could be found in colonies of various forms, whether the long networked strands of cyanobacte

[2015-02-25 09:34] DrChewbacca commented on #293
From a gameplay perspective being able to have terrain would be awesome. It allows so much more depth.

[2015-02-26 21:51] jjonj opened #303 "Issues when running low fps"
At lower fps (1-10) you can notice the player microbe having a speedhack effect.

At very low fps (<1) emitters stop emitting

[2015-03-02 02:34] Alex-the-666 commented on #125
once again I am gong to ask if you guys need any models. do you?

[2015-03-03 13:47] jjonj commented on #125
It's hard to keep track of :b but I imagine we could always use some extra models for various agent vacuoles (we have the "oxytoxy" one already)!

[2015-03-06 18:21] Moopli commented on #303
The best way to solve this would be to split the physics and graphics loops. That will be difficult without a heavy redesign of the core of the engine, to change how systems get scheduled.

@Nimbal

[2015-03-08 04:33] jjonj commented on #303
We did that already! :P logicTime and renderTime It's simply not being used properly somewhere

[2015-03-10 03:27] #245 closed

[2015-03-10 03:30] Moopli commented on #303
Actually, that doesn't do it. Each system still runs in synchronous order, meaning one slow System will delay the others, and thanks to the timing tricks we use, they will compensate for the delay by simulating a larger step. This is exactly the problem.

[2015-03-10 03:54] prshreshtha commented on #303
In games that I've made, I've always used a separate thread for physics and had rendering on the main thread, it worked very well, the physics timestep was 5-10 ms regardless of fps. I've never tested it with a single-core computer though.

[2015-03-10 16:38] Moopli commented on #303
@prshreshtha, well yes, that's the standard gamedev best practice. Even on a single-core, unless you do something terribly wrong with your threading, it should work out well.

What we need to do is overhaul our system-synchronization code to be parallel. We will *definitely* need to be able to run systems fully asynchronously once we get to later stages (so we can do preloads, background computati

[2015-03-11 19:01] jjonj commented on #303
This is what we're doing, no? I remember reading that article many years ago

Decoupling physics is as easy as a compile flag I believe, not sure whether we have it running or not.

Another unrelated optimization that fits very well with the entity component is allocating components in sorted memory blocks to heavily reduce cache misses

[2015-03-11 20:30] Moopli commented on #303
No it's not -- what we're doing is the kinda-good-thing that the article mentions, but not the correct way which the article is arguing for. A decoupled system can run at an exact interval, meaning you can avoid worrying about delta-t. Speedhack effects happen when lag causes the per-frame delta-t to rise high enough that the physics system moves the speedhacking object too far. I'm not sure about

[2015-03-11 20:35] prshreshtha commented on #303
I've gone for the simple route myself, and it seems to work independent of FPS:

[code]

The render loop and update loop each have their own clocks to maintain time. To check if both loops are to be ended, I used an atomic bool.

This approach completely separates the two loops and they don't place any restrictions on each other. Performance hasn't been an issue for me.

[2015-03-13 19:05] jjonj commented on #299
Should have been fixed with #300

[2015-03-13 19:05] #299 closed

[2015-03-17 19:26] #298 closed

[2015-03-17 20:34] elfring commented on #298
Thanks for the improvement of your build scripts.

[2015-03-17 21:57] jjonj commented on #241
Should be really simple with http://cegui.org.uk/wiki/Tooltips but it's causing some really strange bugs when changing gamestates and just aren't working anyway, hrmm..

[2015-03-18 22:48] jjonj commented on #298
Thank hhyyrylainen :)

[2015-03-19 22:04] jjonj commented on #241
I managed to work around the strange bug, but I still need to figure out why the tooltips still aren't showing.

[2015-03-22 11:18] tjblazer85 commented on #289
Hey jjonj, I'm on summer vacation and I wanted to help more on Thrive, Is this thread asking for a loading screen Art?

[2015-03-22 11:26] tjblazer85 commented on #174
Don't we already have a Cilia Model? https://github.com/Revolutionary-Games/Thrive/issues/125
If the guy never sent in the model and we need a new one, I could make a model for it or if Rabiesguineapig already started on his, I have the concept art for it

[2015-03-22 11:27] tjblazer85 commented on #293
Hey Guys, I'll try to make a few bacteria models

[2015-03-22 15:12] tjblazer85 commented on #293
I've searched for pictures of Bacteria and I've made a few models today!

Here is the Spore-Forming Bacteria:
![spore-forming bacteria](https://cloud.githubusercontent.com/assets/4619968/6769883/e453885a-d0e7-11e4-84fa-dd3ab4bb6d2d.png)

And here is the Bacillus Anthracis:
![bacillus anthracis](https://cloud.githubusercontent.com/assets/4619968/6769899/a1e8531e-d0e8-11e4-95df-4d6f723587d4.png)

Th

[2015-03-22 22:52] Moopli commented on #289
Good question -- no it isn't. To clarify, this issue is asking for a modal to pop up when you click load in the editor (but only when accessed from main menu, loading a creature isn't available otherwise) which lists available microbes to load and play around with in editor. Eventually, this load button will take you to the Thrivepedia (or Thrive Content Library, or whatever) so you could load up

[2015-03-23 04:03] tjblazer85 commented on #293
Oh, I forgot to mention in the last post. I didn't subdivide the model that much because based on the other posts here, it's gonna be sized down a lot, so I thought that if it was just small the people playing it wouldn't notice that it's no that rounded. It would also help the engine run better since it's not rendering that many vertices and tris.

[2015-03-23 06:37] tjblazer85 commented on #293
Alright! I've made three more models! Diplococci, Cocci Tetrad, and Sarcina.

Here they are:
![diplococci](https://cloud.githubusercontent.com/assets/4619968/6775212/bc741f1c-d168-11e4-9e46-353c6fd35a2c.png)
![cocci tetrad](https://cloud.githubusercontent.com/assets/4619968/6775223/d392ea0c-d168-11e4-8d3e-fc64d97636a1.png)
![sarcina](https://cloud.githubusercontent.com/assets/4619968/6775225/d6694

[2015-03-23 06:45] tjblazer85 commented on #289
Ok, thanks for the reply

[2015-03-23 22:19] jjonj commented on #289
part of it is actually art, but I think oliveriver might be working on it

[2015-03-23 22:22] jjonj commented on #293
This isn't the most up to date version but might be good enough: https://www.dropbox.com/s/eip0xe9gzb1pf0y/FlagellaTest3.blend

[2015-03-24 16:38] Oliveriver commented on #289
Yeah, I'm a bit busy at the moment but it's top of my Thrive-related priorities when I get back.

[2015-03-24 22:08] jjonj commented on #241
Implemented with  5aea2a4

[2015-03-24 22:08] #241 closed

[2015-03-26 06:42] tjblazer85 commented on #125
Hey Guys! I've made three Vacuole Models! Just vote on which one you guys think should be used in the game. After looking at the other models in the game, I've decided to take a look into how to make my models look better and I figured out how to use the texture option in blender! Hopefully my models are up to par now.

Here are Vacuoles 1,2, and 3:
![vacuole 1](https://cloud.githubusercontent.com

[2015-03-26 06:54] tjblazer85 commented on #293
Hey Guys, I've been looking at the other models and I wanted to make my models much better, and I figured out how to use the texture tab in blender! Hopefully my models are now up to par. I've redone the Bacteria models I've made and here's how they look like now.

The New and Improved Bacteria Models:
![spore-forming bacteria new](https://cloud.githubusercontent.com/assets/4619968/6841575/73b5299

[2015-03-26 09:02] tjblazer85 commented on #125
@jjonj, I wanted to ask what another agent vacuole should look like? Should I keep it close to the way the one we already have looks like or should I make it more varied? Also, why do we need another agent vacuole, and how many more do we need?

[2015-03-26 16:49] TritiumH commented on #125
@tjblazer85 I've exported your model from Blender and opened it with Nimet sadly i don't think this texture displacement is exporting or even the transparency, ogre material settings in blender provide very little options i'm afraid for better looks we'll need shaders, i think a velvet shader would look nice on our models but i'm just getting into all of this.

[2015-03-26 18:18] Moopli commented on #293
Is the anthracis model a chain of bacteria, or did you just set up several copies for the render? I'd prefer to have them separate (or at least, in short chains) so we can make them form long, flexible chains and networks. The diplococci, tetrad, and sarcina will work without being split, since those types of bacteria naturally float around in groups of that exact shape and size (note though, that

[2015-03-27 03:15] tjblazer85 commented on #125
I'll look into it, maybe I can figure something out.

[2015-03-27 11:33] tjblazer85 commented on #293
Thanks for the feedback! I'll get to work on what you've posted, but before I start, I need some clarification. Do you want the cocci models to be just one model that the game will fuse together by itself or do you want the 3 models right now but I'll fuse them together more rather than have them be just fused next to eachother like it is now? Also can you elaborate more on how you want the models

[2015-03-27 12:21] jjonj commented on #125
From a realistic perspective I have no idea, and from an artistic one you are more qualified than I ;)

[2015-03-27 14:58] TheCreator-- commented on #125
@tjblazer85, all you need to do is use a frenel shader. That way it will be fairly transparent when you look at it directly, but colorful on the sides.

If you guys want, I can send you a .blend file that I did for thrive a while ago.

Here is the link of it in action:
http://youtu.be/_kBdRXBu1MY

[2015-03-27 15:02] TheCreator-- commented on #293
@tjblazer85, all you need to do is use a frenel shader. That way it will be fairly transparent when you look at it directly, but colorful on the sides.

If you guys want, I can send you a .blend file that I did for thrive a while ago.

Here is the link of it in action:
http://youtu.be/_kBdRXBu1MY

[2015-03-27 15:17] Moopli commented on #293
@tjblazer85 We'll be using the models quite a bit, so I think it would be great to have the diplococci, tetrad, and sarcina meshes look like fused pairs/quartets/octets of spheres.

One thing I'm not sure about is whether you should keep the interior meshes once you've made fused models. On one hand, the models are more lightweight if all the interior surfaces (the membranes between the bacteria)

[2015-03-27 15:24] TheCreator-- commented on #293
@Moopli, fixing the shader to make it even more transparent should be extremely easy, I'll put a few tests onto here when I get home.

@tjblazer85, if you use metaballs it should be extremely easy to make the cells fused.

[2015-03-28 03:04] TheCreator-- commented on #293
How is this?
https://youtu.be/rMO7ZI-iPpo

[2015-03-28 07:47] tjblazer85 commented on #293
@Moopli, @TheCreator-- , I'll try out the metaballs and the fresnel shader, I'll upload the models a little later if possible, if not then maybe by tomorrow.

[2015-03-28 08:14] tjblazer85 commented on #293
@Moopli, @TheCreator-- , I've made a quick test to see if I'm using the Fresnel Shader correctly. Should there still be color inside, none at all, or maybe somewhere in between?
![fresnel bacteria test](https://cloud.githubusercontent.com/assets/4619968/6880265/4b60e7aa-d565-11e4-8c20-862726dd055b.png)

[2015-03-28 08:55] tjblazer85 commented on #293
Here's a test with the Diplococci:
![diplococci metaballs](https://cloud.githubusercontent.com/assets/4619968/6880421/3553d78c-d56b-11e4-9791-a96654fc9216.png)
![diplococci metaballs 2](https://cloud.githubusercontent.com/assets/4619968/6880422/38ee607e-d56b-11e4-9f01-27bef9ed6325.png)
I'll put up a download link once we decide on how the textures should be like.

[2015-03-28 16:48] TheCreator-- commented on #293
Great job, that looks a whole of a lot better. Just don't forget to convert the metaballs back to meshes when you're done.

Personally I prefer the one on the top. Also, if you want you could try using a colorramp to give it a light edge. Want me to send you my .blend file?

One more thing, is the bumpy look part of the actual geometry or did you use a bump map?

[2015-03-28 20:08] jjonj commented on #294
Was added with #295

[2015-03-28 20:08] #294 closed

[2015-03-30 01:53] tjblazer85 commented on #293
Thanks!

It would help if you could send me the file.

The Bumpiness is actually just a texture with a 0.700 normal applied on it. I like to keep my models for this game as simple as possible without comprimising how it looks, that way the game doesn't need that much ram to run.

[2015-04-04 14:58] hhyyrylainen opened #306 "Ogre 2.0 support"
The current version of Thrive fails to compile with Ogre 2.0.
I tried to fix this, but it seems that Ogre Ogg Sound needs quite significant changes to work (because it directly messes with Ogre::MovableObjects)
I already made CMake find a matching CEGUI version for Ogre.
Code here: https://github.com/hhyyrylainen/Thrive/tree/Ogre2

At this point it seems that it would be equally hard to get a gras

[2015-04-04 20:49] jjonj commented on #306
Hrmm yeah that's a tricky situation.
We could certainly add something like cAudio to the build script if necessary. If you think that would be the right choice I could add it, perhaps you would want to do the interfacing with ogre and our component system though, as it would require some deeper knowledge of ogre 2.0

[2015-04-04 21:18] jjonj commented on #125
I just made a branch where chloroplast is unlockable, but until we have a working chloroplast model it is just using the toxin model.

[2015-04-05 15:47] ChizuNordenstam commented on #125
Didn't the one tjblazer85 posted work?

[2015-04-05 16:24] hhyyrylainen commented on #306
I added cAudio to the cmake file.
Also updated to work with CEGUI default and started working on a SoundManager.
Branch here: https://github.com/hhyyrylainen/Thrive/tree/306_ogre2_support

[2015-04-05 18:03] TheCreator-- commented on #293
@tjblazer85, could you give me your email address because I am having trouble putting the link on dropbox.

[2015-04-06 19:25] jjonj commented on #125
From above replies it sounds like tritium tested it and it had issues

[2015-04-06 19:27] jjonj commented on #306
Sounds good! :) I'll start looking to adding cAudio!

[2015-04-07 19:40] jjonj opened #308 "Thrive reportedly crashes if no sounddevice is plugged in"
This is likely due to improper initialization of ogreoggsound or ogreoggsounds initialisation of openAL.
Note that we may be switching audio library and as such this issue will need to be verified on the new audio library when/if that becomes the case.

[2015-04-08 07:39] tjblazer85 commented on #293
Sorry I wasn't able to post the models sooner but I've been busy and it was Holy Week last week, and Easter Sunday. However, without further delay, here are the new models!

![baccili](https://cloud.githubusercontent.com/assets/4619968/7040783/37986312-de05-11e4-9481-c9b7cc6fe1ef.png)
![spore-forming baccili](https://cloud.githubusercontent.com/assets/4619968/7040798/40f264a8-de05-11e4-8c54-364b10

[2015-04-08 18:24] hhyyrylainen commented on #306
Just finished implementing the new audio system. I had to ditch some properties like priority and the default distance, also fading is not in but it could probably be implemented easily.
With GCC the includes fail to compile so I had to create a pull request (to cAudio) to make it work.

The biggest issue right now is probably lua missing createEntity binding. But someone with more luabind experie

[2015-04-09 10:52] hhyyrylainen commented on #306
Looks like the lua scripts need to be changed to not use OgreViewportComponent and instead use a new OgreWorkspaceComponent

[2015-04-09 21:03] jjonj commented on #306
Alright so you got it under control? :)

[2015-04-10 14:41] hhyyrylainen commented on #306
I can probably do this if I don't have to try to get Ogre::SceneManager::createEntity working with luabind as that seems to be the only impossible thing that needs fixing.

I will probably have to create a patch for the asset svn. Or is there a way to create a pull request for that?

[2015-04-10 16:58] hhyyrylainen commented on #306
Getting close to starting the game for the first time with Ogre 2. I got the first crash that isn't entirely related to what I'm doing: the game crashes on the second iteration of camera system `for (auto& value : m_impl->m_entities.addedEntities()) {`
[code]

Just need to figure out why and actually fix the audio and hope that it renders correctly on the first try and I'm done.

[2015-04-11 14:10] hhyyrylainen commented on #306
The c++ side is now fixed I just need to rename some Lua functions.
Currently I'm not adding any preprocessor version conditions (does Lua even have those) so the scripts maybe troublesome to add to the main repo because it would force everyone to use Ogre 2 for the scripts to work.

[2015-04-12 00:25] jjonj commented on #306
I think it may just be the easiest if you just have an external download for the necessary asset changes, despite that being a bit clunky.

I'll have to have a closer look at your branch to find out! or did you find a fix for this already?

I'm not sure what you mean here, I assume everyone will be forced to use ogre 2.0 once this branch is merged!

[2015-04-12 11:54] hhyyrylainen commented on #306
It was probably because cameras are by default attached to the root scene node.

I've been adding the changes inside `#ifdef` blocks so the C++ code works with both Ogre 1.8 and Ogre 2.0 but I don't have enough experience with lua to do the same in lua so the lua scripts are Ogre version specific.

[2015-04-12 20:51] jjonj commented on #306
Yeah that would have to happen runtime, which could easily get ugly. I wouldn't require you to support 1.8! Everyone should be able to get 2.0

[2015-04-13 15:27] hhyyrylainen commented on #306
Created pull request: https://github.com/Revolutionary-Games/Thrive/pull/309
Everyone will be forced to use Ogre 2.0 (and other requirements like cAudio and CEGUI default branch) mainly because of the Lua files and the new assets.

[2015-04-26 04:12] T0N12 opened #310 "Sign up for Git Large File Storage on Github and move all the assets from SVN repository to here to make managing the easier"
We can now sign up for early access for [Git Large File Storage on Github](https://github.com/blog/1986-announcing-git-large-file-storage-lfs) so we can now host the assets here instead of the SVN repository which will make managing them easier.

[2015-04-26 04:47] T0N12 commented on #158
[Position Based Fluids](http://mmacklin.com/pbf_sig_preprint.pdf) are a very realistic way to simulate fluids in real-time efficiently, as [this demo shows](https://www.youtube.com/watch?v=6WZZARzpckw). Implementing position based fluids might require modifying the physics engine [Bullet](http://bulletphysics.org/wordpress/) but we could ether work together with the Bullet developers to implement

[2015-04-26 19:29] jjonj commented on #310
Looks quite interesting but I believe 1GB will end up being too little and we'll be forced to do something else then so I'm not entirely sure it would be a great idea.

[2015-04-26 19:32] jjonj opened #311 "Clean up all systems and components and ensure compliance"
Systems should handle all logic and components should only contain data and some flagging capabilities. This is in part for serialization which we handle quite well, but also for parallelization.

This will present some challenges due to things sometimes depending on instant effects and other tricky situtations but it should at least to cleaned up as much as possible.

[2015-04-26 19:33] Moopli commented on #310
Well, if LFS lets us store files on a remote server, then we can integrate it with our current svn repo.

If it lets us pull the assets off the current svn repo as the repo is being cloned off GitHub, it would be pretty useful. If it lets us keep assets on svn and code on github branches entirely in sync, it would be perfect. I say we wait and see.

[2015-04-26 19:36] jjonj opened #312 "Figure out a way to clear dependencies between systems to make ordering unimportant."
Some systems currently require other systems to run first, this is e.g. the case for physics running before rendering and a number of other things that causes crashes and bugs. Fixing these would be necessary to make things run in parallel, although it wouldn't be required that everything be independant for some things to run in parallel.

Good luck!

[2015-04-26 19:39] jjonj opened #313 "Refactor components to lie continiously in memory."
Components are currently spread all over the heap but we want them to lie grouped in memory. This will likely involve some custom allocators and/or object pools. It will also be necessary to stop lua from creating component objects itself, but instead rather request them from C++ side and have C++ handle the memory management.

[2015-04-26 19:41] jjonj opened #314 "Job scheduling system"
Not all systems need to run every frame, and once they're more decoupled (see #311 and #312) we can make use of a job scheduler (or task scheduler) which queues up systems to run, and forks out threads to run them.

In the simplest case, a job is just the name of a system, and the job queue is just that, a simple queue which worker threads pull jobs off of.

We might need a bit more sophistication

[2015-04-26 19:42] jjonj commented on #310
Good point!

[2015-04-27 16:40] apinanaivot commented on #293
Hello. I modeled some particles/bacteria in blender
![paricles](https://cloud.githubusercontent.com/assets/12139741/7352578/3a1645b8-ed15-11e4-881d-ede8a3296add.PNG)
Download the blend file here:
https://drive.google.com/file/d/0BwiCSjcuG4RiQXBJMzkxU1V0VjQ/view?usp=sharing

[2015-04-27 20:51] TheCreator-- commented on #293
@apinanaivot Wow! That shader is amazing.

[2015-04-28 04:07] Moopli commented on #314
https://molecularmusings.wordpress.com/2012/04/05/building-a-load-balanced-task-scheduler-part-1-basics/

[2015-04-29 15:37] jjonj commented on #293
I have very little experience in pushing polys myself, all I know is that we haven't run into any issues yet.
Did you use anything fancy for that model? Our exporter doesn't support many of the more advanced features. You can find more here http://thrivegame.canadaboard.net/t1402-basic-blender-modeling-animation-and-exporting-to-ogre-tutorial

[2015-05-02 02:34] Alex-the-666 opened #315 "[Bug]Zooming out causes microbes to become darker"
Title explains all.

[2015-05-02 02:57] Moopli commented on #315
Not sure if bug or feature, it's because we decided to attach the light source to the camera.

[2015-05-05 13:31] Moopli commented on #306
We're going to need to version-pin CEGUI, since default changes too much to reliably use. 8e6a163 is the commit that merged in @hhyyrylainen's fix, I guess we should all use that until the next version of CEGUI comes out, when we can switch, do the integration work, and stick to it for a while longer.

[2015-05-05 13:59] Moopli commented on #306
Compiling Thrive/src/engine/engine.cpp fails on `#include <CEGUI/InputAggregator.h>`, what version of CEGUI has this InputAggregator header? I tried with default, then I tried with 8e6a163, same problem on both.

[2015-05-05 14:34] hhyyrylainen commented on #306
@moopli I just checked both commit 8e6a163 and the latest and both have the file `/include/CEGUI/InputAggregator.h`
Perhaps it isn't getting installed or copied to the include folder?

[2015-05-05 15:12] Moopli commented on #306
Oh, I forgot to edit it in, I fixed that problem and now I have a double declaration error in two files included by `Thrive/src/engine/engine.cpp`. `typedef SharedPtr<Texture> TexturePtr;` at `/usr/local/include/OGRE/OgreColourValue.h:31`, and `class TexturePtr;` at `/usr/local/include/CEGUI/RendererModules/Ogre/Renderer.h:59`. Mismatch between dependencies? Maybe the installation didn't update al

[2015-05-05 15:53] hhyyrylainen commented on #306
@moopli `class TexturePtr` is the old type for Ogre. Ogre 2.0 uses `typedef SharedPtr<Texture> TexturePtr`. The render module shouldn't forward declare the old format if it properly detects that Ogre 2.0 is used.
This code from `/CEGUI/RendererModules/Ogre/Renderer.h`
[code]
should prevent it from being declared when using Ogre 2.0

[2015-05-05 16:05] Moopli commented on #306
Hmm I just rebuilt and installed Ogre2.0 again to be sure (ran cmake and all) and nothing was updated; and then I ran cmake for CEGUI and there's no message about ogre (ie, it says neither found nor missing). I'm building CEGUI again (installed glfw, triggered rebuild of some components), I'll see if Thrive still has issues in a minute.

[2015-05-05 16:11] hhyyrylainen commented on #306
When I configure Thrive with cmake I get this message:
`Finding CEGUI version 9999 for Ogre version 2.0.0`

If Ogre 2.0 is properly installed over the older versions (AFAIK you can't have multiple Ogre versions installed) the message should say version 2.0.0

[2015-05-05 16:16] Moopli commented on #306
Yup, got the same thing `-- Finding CEGUI version 9999 for Ogre version 2.0.0`but the two lines afterwards are

    -- USERENDERER
    -- USERENDERER

[2015-05-05 16:26] hhyyrylainen commented on #306
You could check if CEGUI finds the right Ogre version as `CEGUI_OGRE_VERSION` looks like it might be set by the CEGUI cmake script.
And what also could be wrong are the preprocessor macros for Ogre 2.0.

For me the CEGUI configured file is in `cegui-fork/build/cegui/include/CEGUI/Config.h`
and it has the `CEGUI_OGRE_VERSION_MAJOR` set to 2

If all that is okay then I'm out of ideas.
Perhaps you sh

[2015-05-05 16:37] Moopli commented on #306
Thanks, it looks like the preprocessor macros in `include/CEGUI/Config.h` were good, so I elected to simply copy them into `/usr/local/include/CEGUI` and now `thrive/engine/engine.cpp` builds. I guess the CEGUI install target isn't properly configured, which fits with my earlier problems (missing CEGUI headers) and @jjonj having to copy the headers somewhere else so Thrive would see them.

[2015-05-05 18:12] Moopli commented on #306
(split this out of previous comment)
Ah, and now I fail on a Werror in a cAudio header.
[code]

Edit: I tried doing a release build, and I get the same problem.

Edit2: I decided to just add `add_definitions("-Wno-error")` to CmakeLists.txt, and it still Werrors out on me. Very strange.

[2015-05-05 18:18] hhyyrylainen commented on #306
@moopli I had the same issue and fixed it by adding this
[code]
To `src/engine/sound/caudio_include.h`.
You may need to adjust the `#ifdef`  to get it enabled for your setup.

[2015-05-05 18:31] Moopli commented on #306
Oh, thanks! I think jjonj commented it out, I put it back with an `#ifndef _WIN32`. Now I'm stuck somewhere else:
`
~/thrive/src/engine/sound/sound_manager.cpp: In constructor ‘thrive::SoundManager::Implementation::Implementation(const string&)’:
~/thrive/src/engine/sound/sound_manager.cpp:37:23: error: deleting object of abstract class type ‘cAudio::IAudioDeviceList’ which has non-virtual destruc

[2015-05-05 18:33] hhyyrylainen commented on #306
@Moopli What version of cAudio you are using? I did a patch for that error.
https://github.com/R4stl1n/cAudio/pull/33

[2015-05-05 18:35] Moopli commented on #306
Oh, I was using [v2.2.0](https://github.com/R4stl1n/cAudio/releases/tag/v2.2.0), I'll use master then.

[2015-05-05 18:49] Moopli commented on #306
Perfect, all the sound code compiles now, thanks. Now I'm dealing with some CEGUIWindow problems, and it looks like these are due to your changes sometimes being reverted by jjonj so he can get it to compile on MinGW (from a git blame, anyway).

[2015-05-05 20:20] jjonj commented on #306
Note that I've been commenting on my process on https://github.com/Revolutionary-Games/Thrive/pull/309 instead of here. I am also working on a seperate branch!

[2015-05-05 20:22] Moopli commented on #306
I know, and I read everything there. I'm currently working off of the ogre2.0 branch, same as you.

[2015-05-05 20:30] jjonj commented on #306
Ah alrighty then!

[2015-05-05 20:44] Moopli commented on #306
[Here's the paste of my current errors](https://gist.github.com/Moopli/d2f7bea0195ad66140b6)

[2015-05-06 08:34] hhyyrylainen commented on #306
@Moopli That line shouldn't get compiled if `CEGUI_USE_NEW` is defined. Which should be defined by thrive cmake file line 179.
Also my version of the file doesn't have anything on those lines where those errors are
https://github.com/hhyyrylainen/Thrive/blob/306_ogre2_support_squashed/src/gui/CEGUIWindow.cpp

[2015-05-06 13:29] Moopli commented on #306
My bad, wrong error log. [I updated the gist](https://gist.github.com/Moopli/d2f7bea0195ad66140b6), I was (and still am) getting errors that are difficult to even parse.

[2015-05-06 13:34] hhyyrylainen commented on #306
@Moopli That looks like the errors you get when you try to register a CEGUI listener with invalid parameter types.

[2015-05-06 18:02] Moopli commented on #306
Right, I think I've found the source of my woes, this innocuous little function:
[code]

[2015-05-06 18:08] Moopli commented on #306
Alright so to be sure that was the problem, I commented out `m_window->subscribeEvent(eventName, callbackLambda);` (for both lambda-using handler-registering methods) and I get:

[code]
Which means I just need to construct the lambda using a `CEGUI::FunctorCopySlot<thrive::CEGUIWindow::registerKeyEventHandler(const luabind::adl::object&) const::__lambda1>::OpVoid {aka void (thrive::CEGUIWindow::re

[2015-05-07 04:39] Moopli commented on #306
Finally solved it: Essentially, creating a CEGUI::Event::Subscriber requires the function passed in to return a bool (the path is more complicated, but this is the crux of it). So I made the lambdas return bool and now CEGUIWindow.cpp compiles.

[2015-05-07 04:54] Moopli commented on #306
I don't want to push today, as that would require pulling @jjonj's changes, which I'd prefer to leave for another day, so here's the patch:
[code]

[2015-05-07 05:19] Moopli commented on #306
It built successfully, all unit tests passed, but on running of Thrive, Ogre complains of a bunch of missing dynamic libraries, like `./RenderSystem_GL_d.so.2.0.0` and `./OgreOggSound.so.2.0.0`. The first should be solved fine by copying `./RenderSystem_GL.so` for now, but the second surprises me as I thought we switched to cAudio.

[2015-05-07 06:49] hhyyrylainen commented on #306
If I remember correctly, thrive uses ogre plugins file to specify the plugins that should be loaded. Removing the ogre ogg plugin from that file should work.

-------- Alkuperäinen viesti --------
Lähettäjä: Filip Burlacu <notifications@github.com>
Päivämäärä: 07.05.2015  8.19  (GMT+02:00)
Saaja: Revolutionary-Games/Thrive <Thrive@noreply.github.com>
Kopio: Henri Hyyryläinen <henri.hyyrylainen@gma

[2015-05-07 14:49] Moopli commented on #306
Okay, I removed the plugins we aren't using from `plugins.cfg` and Ogre now loads. CEGUI spits out a few errors now about `MousePassThroughEnabled` no longer being a valid property. I figure there'll be a few more of these. I *did* update the assets folder with the zip @hhyyrylainen provided, so that's not the issue.

[2015-05-07 15:01] hhyyrylainen commented on #306
CEGUI renamed Mouse to Cursor. So the fix should be to rename `MousePassThroughEnabled` to `CursorPassThroughEnabled` (Or just directly Mouse to Cursor which should fix all related issues and hopefully not break anything)

[2015-05-07 15:56] jjonj commented on #306
You should be able to pull my stuff, It's pretty much purely windows scripts stuff and some minor stuff in cmakelist.

[2015-05-08 13:49] Moopli commented on #306
I did try pulling your stuff, but cmake failed to configure and I wasn't in the mood to debug your changes, so I reverted. I'll take another look at it today, after working a bit more to get Thrive to run.

[2015-05-08 14:56] Moopli commented on #306
[code]
@hhyyrylainen did you create your assets zip before 5aea2a4?

[2015-05-08 15:01] hhyyrylainen commented on #306
@Moopli I probably did, in my fork of thrive there doesn't seem to such a commit:
[code]

Should be quite a quick fix just by adding the new Thrive/Tooltip to the scheme file.

[2015-05-08 15:41] hhyyrylainen commented on #306
@Moopli Trying to merge my svn changes to the new assets revision is proving to be quite difficult.

[2015-05-08 15:46] Moopli commented on #306
Just the standard svn-works-on-a-file-by-file-basis issues, or are there deeper-seated incompatibilities between the workings of CEGUI default and what we've done with tooltips?

You can ignore all the example gui files if you like, those can be replaced wholesale with new examples courtesy of the CEGUI team.

[2015-05-08 15:54] hhyyrylainen commented on #306
@Moopli I thought I fixed it for a second, but I just somehow made all files have the exact same contents twice. Working with svn is not very intuitive...

[2015-05-08 16:05] hhyyrylainen commented on #306
Well, svn doesn't seem to want to co-operate as it wants to reject all my changes.
I'll just manually copy the tooltip definition to my assets.

[2015-05-08 16:32] hhyyrylainen commented on #306
@Moopli I'm unable to start Thrive because Ogre decided that it doesn't like my drivers anymore:
[code]
Perhaps it's time to get rid of that default Ogre settings dialog (which seems to cause the crash.

But I put together a new assets file which should have the new tooltip type and their looknfeels (potentially I missed some other component but those should be it)
https://mega.co.nz/#!RhlFEJAB!xU

[2015-05-08 17:57] Moopli commented on #306
Mhmm, now it just segfaults without an error message, maybe related to your problem.

[2015-05-08 18:00] hhyyrylainen commented on #306
@Moopli Unless you are using mesa drivers, I doubt it.
At least now I think that all the assets are fine as Ogre and CEGUI usually give an error message when there are missing files

[2015-05-08 20:19] jjonj commented on #306
Try running with gdb and see what it says. It might be the same I had which was caused by SSE2 and is fixable.

[2015-05-09 08:42] hhyyrylainen commented on #306
I just updated Ogre to latest v2-0 and now it works. Now I just have to fix the errors that merging master caused.

[2015-05-09 11:30] hhyyrylainen commented on #306
@Moopli I fixed an error caused by merging master here:
https://github.com/hhyyrylainen/Thrive/tree/306_ogre2
I also had to apply your fix to the CEGUI event listeners making them return bool, so it might conflict if you try to pull it.

[2015-06-19 14:33] Poisonchocolate commented on #125
Immensely sorry for this, but I had lost track of this project. Anyways, here you go with the cilia model (I didn't add any color as I was unsure of what that should be). Absolutely tell me if anything needs to be changed. Again, I apologize for just disappearing!
![cilia2](https://cloud.githubusercontent.com/assets/10107731/8255500/58f93788-166e-11e5-9de6-30ee50f9e45b.png)
The rendering is very l

[2015-06-19 22:29] jjonj commented on #125
Looks quite good! Is it animated? Regarding color I think you have some artistic freedom there!

[2015-06-19 23:35] Poisonchocolate commented on #125
In it's current state I am able to animate it, but I'm not entirely sure how to go about animating it using an armature in the way explained on the post about how to export models from blender to OGRE. I think I might have an idea on how to do so, though.

Regarding texturing, would I be able to use shaders, or would I actually have to make textures in image form for models?

[2015-06-20 23:04] jjonj commented on #125
You can find some info on ogre materials here: http://www.ogre3d.org/tikiwiki/Materials

[2015-06-21 00:33] Poisonchocolate commented on #125
I honestly cannot figure out how to set materials with blender2ogre. I can export the mesh with animations itself, but I really have no clue with setting materials. So blender textures will not carry over?

[2015-06-25 03:38] Alex-the-666 commented on #315
Hmm. maybe you could have the light fixed for box X position and Z position, however making Y position static would be a simple fix.

[2015-06-25 04:20] Alex-the-666 opened #317 "Species Name Requirement"
Currently, the species name is a small box at the top right of the microbe editor. It is easy to miss, and new players are likely to pass over it. This is bad because later in the game the player(and their species) would simply be referred to "species". I suggest that as soon as a new game is created a prompt comes up to name the genus of your species. The Genus could be completely handled and cus

[2015-06-25 23:23] jjonj commented on #315
Yeah should be an easy fix, also low priority for the moment ;)

[2015-06-26 15:18] jjonj opened #318 "Find a way to force ogre to enable anti aliasing"
Otherwise the game will flicker after the upgrade with ogre 2.0
A solution to this could be to handle the graphics settings ourselves instead of having the ogre dialog.

[2015-06-27 17:07] Alex-the-666 commented on #315
ok

[2015-07-09 03:33] TheCreator-- commented on #318
You guys are using OpenGl instead of DirectX, right? If not, I might be able to help—I am currently working on a DirectX 11 engine that supports multi-sampling and full screen.

[2015-07-09 16:43] hhyyrylainen commented on #318
Wouldn't that be a bit of an overkill? A simple config file parser and a
launcher dialog would be sufficient,  and probably easier to integrate.
9.7.2015 6.33 "TheCreator--" <notifications@github.com> kirjoitti:

[2015-07-12 21:57] jjonj commented on #318
We are using openGL indeed but thanks anyway!

I'm halfway making in-game graphics settings which we would need eventually anyway!

[2015-07-22 17:16] Oliveriver commented on #125
With the membrane coming relatively soon, it might be a good idea to work on implementing the organelle models, seeing as hexagons floating around inside the membrane might not look particularly good.

Sorry about the somewhat instructional post coming. If you think something here needs changing, please say - all this is written assuming the current concept is correct.

Before that though, we need

[2015-07-22 23:21] Poisonchocolate commented on #125
I have a few questions.

1. Do organelles have physjxs? i.e. collisions and deformation. If so, then a hex wouldn't work very well for collision or at all for deformation.

2. A bit of clarification on exterior organelles? You say they take up one hex edge. But the membrane isn't based on hexes, correct? This wouldn't work for the deformation the membrane would have, because the organelles won't b

[2015-07-23 10:48] Oliveriver commented on #125
Very unlikely. They probably would collide, but there wouldn't be any deformation involved, they'd just bounce off one another.

The membrane is based on hex arrangement - it's drawn using an algorithm around the cytoplasm and organelles placed using hexes in the editor. Something like this:

![membrane rendering](https://cloud.githubusercontent.com/assets/7430433/8848562/288c2c04-3130-11e5-8c29-6

[2015-07-23 11:12] Oliveriver commented on #125
Here's an overview of everything I've talked about in a far more understandable picture form:

![organelle hexes complete](https://cloud.githubusercontent.com/assets/7430433/8848977/d70fd674-3133-11e5-9313-03e31638d430.png)

They are, in order from left to right: the cytoplasm structure, organelle placement, rendered membrane and organelles, and an example of environmental distortion and floating

[2015-07-23 11:29] Poisonchocolate commented on #125
Alright. So probably the most difficult thing with this is the cilia. It needs to have a special system of some sort to apply it to the membrane.

[2015-07-23 15:08] TheCreator-- commented on #125
@Oliveriver, very nice job on the images. Here are my 2 cents:

I always thought that the organelles in the cell would remain stationary, but my current membrane prototype does allow for them to move, so I guess that shouldn't really be a problem to do. For collisions, we could let them flow on top of eachother without any collisions since our cell is actually 3-dimensional and the organelles aren

[2015-07-23 15:09] Oliveriver commented on #125
You read my mind: I'm writing an opening post for it already. I'll reply to all your points there.

[2015-07-24 23:10] jjonj opened #320 "Clicking play after editing your microbe leaves a rainbow copy of your microbe"

[2015-07-30 21:13] jjonj opened #321 "Add this to the mingw readme somewhere"
To let codeblocks run thrive and have things like breakpoints work
"You need to go to Project->Properties->Build Targets then select Install on the left and Type: from GUI application to Console application.  Finally change Output Filename to "dist\bin\Thrive.exe" (without the quotes). If it tells you that the file already exist or something like that click okay. Finally, click okay and exit. To c

[2015-07-30 21:39] TheCreator-- commented on #321
Done!

[2015-07-30 21:40] #321 closed

[2015-07-30 21:42] TheCreator-- commented on #293
Just wodering, would it make sense for all the bacteria to be procedurally generated? Because even if we have a lot of different models, we will probably always have more bacteria on the screen at any given point in time.

[2015-07-30 21:55] Moopli commented on #293
That's a good idea, but I think it's just much easier to keep them looking bacteria-like when they're all artist-made, and there are few enough basic shapes that we can afford to do so.

Most bacteria on the screen would appear in large clouds -- all with the same model, etc. There would probably be no more than 10 distinct bacteria species on-screen at a time (and usually a lot less), so I think

[2015-07-30 21:57] TheCreator-- commented on #293
Okay, and I assume we currently plan for them to have the swarming behavior prototyped by tjwhale?

[2015-07-30 22:10] Moopli commented on #293
For the true swarms of bacteria, something even simpler would work perfectly fine. I wouldn't really consider it worth the developer effort to get the swarmiest bacteria pathing around intelligently, and if bacteria pathing ends up being the heaviest part of the game loop, then it wouldn't be worth anyway.

[2015-08-18 12:23] issuerx opened #325 "Luabind problems in compilation"
Hello, i have some issues about luabind when running make, its my whole output https://bpaste.net/show/2d762d7782ee

[2015-08-19 23:36] jjonj commented on #325
Thanks for the report.
Perhaps the luabind sub-repository that we pull from changed something. I'll see if I can reproduce that tomorrow!
Did you download the dependencies from the mega link?

[2015-08-20 09:21] issuerx commented on #325
From what mega link ? I was read in README.md what dependencies im need and i was install it from my repo.

[2015-08-20 11:36] tjblazer85 commented on #125
Hey Guys! I'd like to join the discussion and make some new models but I can't login in to the new forums. Any help?

[2015-08-20 11:45] Oliveriver commented on #125
Hi @tjblazer85 ! Officially you're meant to submit an application here: http://revolutionarygamesstudio.com/application/

But since you've helped before I think we could skip that and just invite you anyway. We'd need your email though.

[2015-08-20 11:47] tjblazer85 commented on #125
Thanks a lot @Oliveriver ! Here's my email address: tjtomenes@yahoo.com

[2015-08-20 11:49] Oliveriver commented on #125
Ok, it should have been sent.

[2015-08-20 12:15] tjblazer85 commented on #125
I tried changing my password but it wouldn't work. Also I'm working on a Mitochondria model.
@Oliveriver

[2015-08-20 18:43] jjonj commented on #325
My bad! I assumed you were on windows since most people are and you didn't specify otherwise, the mega thing is a windows only thing.
To start with I would recommend mooplies suggestion from the forums and upgrade boost to 1.58

[2015-08-22 13:00] issuerx commented on #325
i cant upgrade my luabind maybe ? I was search for some but no results but maybe u know what upgrade luabind can solve problem ?

[2015-08-24 20:12] jjonj commented on #325
Luabind hasn't been updated in several years. There might be some third party clones that have made updates that fixes the issue but I couldn't find any with a short search.

[2015-08-28 15:42] issuerx commented on #325
Okay but how can i downgrade my boost then ? I wanna two versions, ill change path to 1.55 version for thrive but im just downloaded sources of boost.1.55 i was run bootstrap, after that im run b2 and i have no boost files in my /usr, how u recommend me to add boost 1.55 from sources ?

[2015-08-28 19:34] jjonj commented on #325
That's a CEGUI header file that suggest that you have an older version of CEGUI.
You'll need to compile CEGUI yourself from their "default" branch.
The specific commit we have used so far is
https://bitbucket.org/cegui/cegui/commits/0de4973e25fbfd31fac5b40391de85eeb25beaba?at=v0-8

[2015-08-28 20:37] issuerx commented on #325
I have older cegui ? ver - 0.8.4-8 on site cegui.org.uk the newer one is 0.8.4 too, so i dont think i have older cegui, i have the newer one, arch is distro on the edge so i allways have the newest packages...

[2015-08-29 07:15] hhyyrylainen commented on #325
I might not be up to date on this issue anymore, but when I updated Thrive to use Ogre 2.0 you had to use an unreleased version of CEGUI. Meaning you had to build it yourself using for example the commit that jjonj suggested.

[2015-08-29 11:42] issuerx commented on #325
I dont know what that commit mean and how to use that, im downloaded cegui from that site but i had a problem with compilation that.

[2015-08-29 13:09] Oliveriver opened #326 "Add a very simple text tutorial to the game"
Given that a few playtesters so far have appeared to not have a clue what they're doing, it's probably wise to add at least some form of tutorial to the game as soon as possible.

While [the full tutorial](http://thrivegame.wikidot.com/gdd-microbe:progression#toc1) is quite a way away and not yet worth the effort to add, a few screens of text which appear after the player clicks 'New Game' or ente

[2015-09-01 12:43] jjonj commented on #325
Sorry for the late reply
"A commit" is a term from git.
Every time you make a change to a git project you create a new commit, so it becomes kind of a new mini version, you can think of it as an alpha of the next release.

For example, you can see all of thrives commits here: https://github.com/Revolutionary-Games/Thrive/commits/master

CEGUI 0.8.4 is the newest version but it is still too old for

[2015-09-03 16:10] TheCreator-- commented on #320
This isn't the only problem. Sometimes when cells go off the screen, their hexes remain rendered in that position. You can swim through them, and the membrane is not rendered, but the hexes are still drawn.

[2015-09-04 19:04] jjonj opened #328 "Playing audio with a soundsource in an init function, activate or the first frame, doesn't work"
I added a sound to main menus gui sound entities soundsourcecomponent and tried to play it in the main_manu_hud.cpp's init and activate functions and it failed. I tried playing it on the first update called which also failed. Only by waiting two frames did it not fail.

No sound will be played and cAudio will print an error in the console

[2015-09-12 00:55] TheCreator-- commented on #326
Just to give everyone a heads up, we apparently already have a tutorial in the game, there is a button in the bottom left corner that brings it out. All that needs to be done is to change the text and make sure the tutorial is opened when the player first enters the environment.

[2015-09-17 01:17] Moopli commented on #326
Something GUI/code-wise that would be really awesome is to make a simple, clean, text box. The thing that serves as the help panel right now is all oddly-shaped, meaning it's practically impossible to align text nicely within it.

[2015-09-17 01:40] TheCreator-- commented on #326
I was thinking that we could have something like this text box:
https://youtu.be/4CnkJd0HZNU?t=51s
It seems that although the textbox itself is unregularly shaped—the text is aligned to a rectangular box, more or less.

[2015-10-24 17:35] jjonj opened #330 "Get CAudio to stop spamming the console"

[2015-10-25 13:16] Oliveriver opened #332 "Replace ThriveGeneric file"
Pretty simple: replace the old ThriveGeneric image with the new one I posted on Slack.

[2015-10-25 14:43] jjonj commented on #332
Image: https://slack-files.com/files-tmb/T02T175Q8-F0D55CBT6-8af28dbb0f/thrivegeneric_720.png

[2015-10-25 19:09] jjonj commented on #320
Fixed with #331

[2015-10-25 19:09] #320 closed

[2015-10-26 19:35] jjonj opened #333 "Use membrane surface detection to find correct position to emit compounds"
Current way of finding a safe angle and radius is prone to error. The membrane has a new function (currently used for placing flagelia) that makes a clean solution much easier.
Remember to clear out all the existing code that relates to the old method.

[2015-10-27 00:56] #115 closed

[2015-10-27 21:12] jjonj commented on #332
Image is not quite ready for implementation due to size differences in old and new image

[2015-10-27 21:16] jjonj opened #334 "Create graphics for popup messages"
This will be mostly used for informing new users of things that they need to note, such as when milestones are reached or quick tip messages.
should be able to hold at least a couple of lines of text

[2015-10-27 21:18] jjonj opened #335 "Design and create graphic assets for an options menu"
Menu should be able to hold things like graphics settings and video settings.
This would possibly involve a dropdown list for resolutions, a volume slider and a number of icons.

[2015-10-27 21:21] jjonj commented on #318
Closing this as flickering was already fixed

[2015-10-27 21:21] #318 closed

[2015-10-27 22:38] #233 closed

[2015-10-27 22:39] jjonj opened #336 "Fix remaining minor issues for release"
- [x] Fix save/load
- [ ] Make sure F1 works

[2015-10-28 20:02] jjonj commented on #332
Done!

[2015-10-28 20:02] #332 closed

[2015-10-28 21:00] jjonj opened #337 "Update ogre to fix crash on exit"
Our crash on exit is caused by this bug: https://ogre3d.atlassian.net/browse/OGRE-479
The bug has been fixed recently but we use an ogre version that is a few months old, so needs updating.
This would be a good chance to switch from my fork of ogre to the official version as the reason that we use a fork currently is because of a different bug that should also have been fixed on the official branc

[2015-11-02 17:05] Moopli commented on #337
Official version being the latest ogre 2.0?

[2015-11-04 18:31] TheCreator-- commented on #336
- [ ] Fix save/load
- [ ] Make sure F1 works
- [ ] the game crashes on exit
- [ ] organelle models of NPC species overlap.
- [ ] Images and opening cutscene are sometimes stretched and distorted
- [ ] Nucleus blinking and temporary material
- [ ] Change tooltips text
- [ ] Change the version number at the bottom right
- [ ] Deleting an organelle in the editor keeps the cytoplasm hex there
- [ ] Un

[2015-11-05 04:09] Moopli commented on #336
For that last one, I'd say "spawned", much clearer.

To fix it, we'd have to know the camera's distance, know the FOV and aspect ratio, and then funnel that data to the very ad-hoc spawn-radius system. It's something that might just introduce tons of bugs, so if nobody wants to tackle it right now I would forgive them.

[2015-11-05 04:15] TheCreator-- commented on #336
Couldn't we just have it spawn outside the maximum permitted viewing rectangle temporary until we get a proper fix? No that I know how to do that, but I thought it might have been easier.

[2015-11-05 04:17] TheCreator-- commented on #334
Could we just use the tutorial box (think you get by pressing the question mark) and shrink it?

[2015-11-05 04:22] Moopli commented on #336
That's a good point, it doesn't have to be a variable spawn range.

[2015-11-05 06:09] TheCreator-- commented on #336
I propose deleting this issue: Images and opening cutscene are sometimes stretched and distorted
from the current release and fixing it when we get the in-game options.

Maybe this one as well: the game crashes on exit (it will take to much time and isn't too big of a deal imo.

[2015-11-05 18:41] jjonj opened #344 "Re-add varying animation speed for flagelium"
It was removed in this commit due to changes in the way flagelium organelles we're structured. but can be re-added.
https://github.com/Revolutionary-Games/Thrive/commit/1fcf8ed257cc54da3dc03dc8402dcf5826ebf0b2#diff-1dad9baef1bca72224bcc43e1e88f7bcL78

[2015-11-06 19:28] jjonj opened #348 "Cytoplasm organelles"

[2015-11-08 17:04] jjonj commented on #336
How/when?

[2015-11-08 17:06] TheCreator-- commented on #336
I'm not too sure about it, but I believe @oliveriver said that if he starts the game in non-fullscreen mode and then maximizes it, he observes the stretching.

[2015-11-10 05:03] Moopli opened #352 "Compound Ejection Tuning"
Currently a nearly gamebreaking bug, where the compound priority management within a cell causes, for example, oxygen to be prioritized heavily instead of ATP, leading to cell death.

Proposed solution:
We could set aside a certain amount of space for each compound, with a certain predefined ratio. If a compound fills its quota but there's still empty space due to other compounds not reaching thei

[2015-11-12 19:18] jjonj commented on #344
This was fixed with #4074c5fc

[2015-11-12 19:18] #344 closed

[2015-11-16 21:52] #352 closed

[2015-11-19 18:58] Moopli opened #355 "Predator AI not working"
already have a fix

[2015-11-19 19:11] jjonj opened #357 "Game still crashes on alt-f4 from main menu"
Happens because of video player destruction. Should consider destroying video player after playing video

[2015-11-19 19:51] jjonj opened #358 "Engulfing has weird behavior that causes quick detoggle."

[2015-11-21 19:15] #337 closed

[2015-11-21 19:15] #355 closed

[2015-11-23 18:39] jjonj opened #360 "Occasional use of freed memory"
Only shows up with gdb like this:
http://i.imgur.com/sieZevK.png
Doesn't cause a crash.

[2015-12-02 20:18] jjonj opened #363 "Text seems bigger in full screen mode"
According to oliveriver

[2015-12-02 20:49] jjonj commented on #358
This was fixed!

[2015-12-02 20:49] #358 closed

[2015-12-02 20:49] jjonj commented on #357
Fixed

[2015-12-02 20:49] #357 closed

[2015-12-02 20:50] jjonj commented on #336
All issues except the stretching (which now has it's own issue) was fixed

[2015-12-02 20:50] #336 closed

[2015-12-03 21:08] Moopli commented on #348
1-hex organelle which provides a small amount of storage and a small amount of glycolysis, and can be overwritten directly by placing another organelle on top.

[2015-12-03 21:27] Moopli commented on #348
May as well add a few other things to this one:

* New compound, pyruvate
* New process, glycolysis: 1 glucose -> 2 pyruvate + 2 ATP
* Modify respiration process to: 1 pyruvate + 3 oxygen -> 3 CO2 + 18 ATP
* Make all organelles able to perform a small amount of glycolysis, scaled by number of hexes they take up (since they all sit in cytoplasm)

We might have to account for electron carriers (like

[2015-12-03 21:46] Moopli commented on #288
Fixed a while ago

[2015-12-03 21:46] #288 closed

[2015-12-04 04:11] TheCreator-- commented on #125
We got all of the organelle models in this release, so I'm going to go ahead and close this issue.

[2015-12-04 04:11] #125 closed

[2015-12-04 04:20] TheCreator-- commented on #39
Should be easy to fixe with a parallax background.

[2015-12-04 04:22] TheCreator-- commented on #306
Was this fixed?

[2015-12-04 04:25] TheCreator-- commented on #348
This seems like a duplicate of #291.

[2015-12-04 04:25] Moopli opened #364 "Process Rate Calculations"
Process rate calculations need to be more flexible, to allow different processes to use different rate laws, and to allow feedback regulation for the processes which require it.

[2015-12-04 04:28] TheCreator-- commented on #364
We also need to redo the current compound system. I made it slightly better, but it is still not ideal. For one, it is impossible for a cell to absorb a compound particle that contains 2 compounds (m_potency = 2).

[2015-12-04 04:34] Moopli commented on #348
It is and I will merge contents, thank you

[2015-12-04 04:34] #348 closed

[2015-12-04 05:47] Moopli opened #365 "New Compounds and Processes"
Compounds:
- Pyruvate
- Fatty Acid
- Protein
- Nucleotide
- Nucleic Acid

Processes:
- Glycolysis: 1 Glucose -> 2 Pyruvate + 2 ATP
- Modify Respiration: 1 Pyruvate + 3 Oxygen -> 3 CO2 + 18 ATP (we asume Ac-CoA as an implicit intermediary)
- Protein Synthesis: 1 Amino Acid + 4 ATP -> 1 protein
- Protein Digestion: 1 Protein -> 1 Amino Acid (yup, you don't get the ATP back)
- Deamination: 1 Amino Ac

[2015-12-04 05:48] Moopli commented on #364
Why 2?

And yes. I've been working on getting this stuff in tickets, chunking up the work, etc.

[2015-12-04 05:59] Moopli opened #366 "Chloroplast unlock powerup looks identical to agent vacuole"
I get that it's a small thing and will be fixed when we do endocytosis, but it's an easy fix, simply replace "AgentVacuole.mesh" with "chloroplast.mesh" in https://github.com/Revolutionary-Games/Thrive/blob/master/scripts/microbe_stage/setup.lua#L208 and maybe tweak the scale.

[2015-12-04 06:07] Moopli commented on #366
Wait a tic, even more importantly, we aren't even *spawning them*.

[2015-12-04 06:20] Moopli commented on #306
I believe the impeded label was added because this doesn't yet work on linux. jjonj might know.

[2015-12-04 06:21] Moopli commented on #291
Also make all organelles able to perform a small amount of glycolysis, scaled by number of hexes they take up (since they all sit in cytoplasm)

[2015-12-04 07:02] TheCreator-- commented on #366
Do you want me to fix it for next release (just commit to master) or upload a new 0.3.0 zip?

[2015-12-04 10:41] DrChewbacca commented on #365
I tried to make a list of processes here and I balanced the formulae, which I thought was helpful. I had many less amino acids per protein :) Anyway ignore it if it's not helpful.

http://thrivegame.canadaboard.net/t1491-cpa-master-list

[2015-12-04 15:34] jjonj commented on #366
I feel like we can go for a more complete solution regarding unlocks, with a fix for this.
Oxytoxy was always just meant to be a temporary agent, so creating a number of models for various usable agents as well as a model for chloroplast would be a good idea

[2015-12-04 15:36] jjonj commented on #306
I better know since I added the label =P but yeah moopli is correct! I believe my next assignment will be to get a working linux virtual machine so that I can either give moopli a development environment that works if I don't encounter mooplis problem, or help work on the problem myself if the problem does come up!

[2015-12-05 02:51] Moopli commented on #365
Thanks! The formulae don't necessarily need to be balanced, for example, electrons certainly aren't balanced.

I googled for an average length of protein chains over a wide variety of species, conveniently enough somebody had already done such a survey article so I got my number which was 360.

It might be better to measure protein by mass, measured in number of amino acids. I think that would be

[2015-12-05 03:36] TheCreator-- commented on #365
I think protein should only be around 10 amino acids, though.

[2015-12-05 03:51] Moopli commented on #365
Well my point is that the decision of exactly what ratio to use in the accounting between protein and amino acids is mostly arbitrary -- if we change the ratio between protein and amino acids, then we simply change how 'many' (much) protein we need to repair x organelle, or to reproduce x microbe or to produce x amount of y agent. There are different reasons for different numbers though. 1:360 giv

[2015-12-05 10:22] TjWhale commented on #365
I think the chief reason for balancing the equations is that you want to make sure there isn't some cycle you can do which increases the amount of some compound in the game. It's possible to balance things without actual equation balancing but it is one way of making sure it's correct.

You just don't want a -> b -> c -> 1.1 a or something like that.

The number of amino acids per protein can be b

[2015-12-06 21:39] jjonj opened #367 "Add thrive icon to exe"
https://thrivegame.slack.com/files/nickthenick/F0G1EEGPQ/thrive_icon.ico
I don't currently know how we can do this.

[2015-12-07 13:05] pscollins opened #368 "What do I need to install on Ubuntu to meet the "bullet" dependency?"
I've grabbed everything off of apt-get that has "libbullet" in the name, but cmake isn't happy:

    CMake Error at /usr/share/cmake-2.8/Modules/FindPackageHandleStandardArgs.cmake:108 (message):
      Could NOT find Bullet (missing: BULLET_DYNAMICS_LIBRARY_DEBUG
      BULLET_COLLISION_LIBRARY_DEBUG BULLET_MATH_LIBRARY_DEBUG
      BULLET_SOFTBODY_LIBRARY_DEBUG)
    Call Stack (most recent call fir

[2015-12-07 13:16] hhyyrylainen commented on #368
Are you trying to configure Thrive in Debug configuration?
The packages are probably missing bullet libs compiled in Debug configuration, so if you want to use those you have to compile from source.
But I recommend using RelWithDebInfo which compiles fine on my machine, I haven't tried to get Debug configuration to work so I don't know if that even can be made to work.
So you could try running cma

[2015-12-07 22:45] Moopli commented on #365
Ah, but the chief reason *against* balancing is that cells cannot live forever simply by recycling materials, there has to be a bit of ATP 'decay' to ensure that cells will make use of some energy source.

On top of that we'd have a bunch of tweaks to ensure that cycles don't run continuously burning off ATP (for example, protein synthesis and digestion constantly). We'd have a separate pool for i

[2015-12-08 01:41] pscollins commented on #368
I'm just trying to run `cmake .` in the root directory. Here's the full error message:

    ➜  Thrive git:(master) ✗ cmake . -DCMAKE_BUILD_TYPE=RelWithDebInfo
    -- Looking for OGRE...
    -- Found Ogre Byatis (1.8.1)
    -- Found OGRE: optimized;/usr/lib/x86_64-linux-gnu/libOgreMain.so;debug;/usr/lib/x86_64-linux-gnu/libOgreMain.so
    -- Looking for OGRE_Paging...
    -- Found OGRE_Paging: opti

[2015-12-08 02:01] Moopli commented on #368
It can be built completely, but we've been getting a persistent runtime segfault. So far we've made a bit of progress fixing it, we can at least replicate it, and hopefully with more eyes, and time, on it, we can fix it.

But that's runtime, so, yes, it can at least be built. I don't think I did anything special to Bullet, you can take a look [at this branch](https://github.com/Revolutionary-Games

[2015-12-08 02:41] pscollins commented on #368
Do you remember how you got bullet installed? Did you have to build from source? It would be much easier if I could just use apt-get.

Is there a bug report or something that summarizes the existing problem on Linux?

(It's worth noting that I don't know C++ very well --- I have more experience with C --- so I doubt I'll be able to contribute too much, but it would be interesting to poke at)

Even

[2015-12-08 03:51] Moopli commented on #368
According to dpkg I installed bullet through apt-get:
[code]

I added `/usr/lib/x86_64-linux-gnu/` to `CEGUI_LIBRARY_SEARCH_DIR` in `FindCEGUI.cmake`, as CEGUI's install directory, it seems, had changed.

[2015-12-08 03:52] Moopli commented on #368
oops

[2015-12-09 01:58] pscollins commented on #368
I had all of those packages through apt-get but no dice. I've checked out your branch so that change was already made for me; I've installed everything matching `libcegui*` through apt-get and it doesn't like it. Oh well, maybe I'll just wait until you all get the linux situation worked out and check back in a few months.

[2015-12-09 05:07] hhyyrylainen commented on #368
My information might be outdated, but when I set up Thrive to work with Ogre 2.0 it required CEGUI to be built from the default branch. It seems unlikely that Ogre 2.0 support would be shipped in a stable CEGUI build anytime soon.I might create an install script for Linux once I start working on Thrive again. 

-------- Alkuperäinen viesti --------
Lähettäjä: Patrick Collins <notifications@github.

[2015-12-09 05:32] Moopli commented on #368
Ah hold on, for CEGUI we build from source, default branch, I'm on `cfce8d308878`.

[2015-12-09 18:57] jjonj commented on #368
Sounds good @pscollins, sorry that it's not in working condition atm!

@hhyyrylainen We made a ubuntu 14.04 vmware virtual machine and set up thrive on it and as moopli said, replicated the moopli is having issue. I have a download link for the full VM here: https://mega.nz/#!xMoGVSRY!X1atUbzqiBdhob0ITlEEGZblosxqR8uIVcr2IBcNw0A
in case you have some time and is curious what the issue looks like. (

[2015-12-12 17:08] hhyyrylainen commented on #368
I had to change Thrive CMakeLists.txt to not try to use ${BULLET_DYNAMICS_LIBRARY_DEBUG} on Linux to make it start compiling. Now I just need to fix some compile errors and I can test whether I get a working executable.

[2015-12-12 17:24] hhyyrylainen opened #369 "Linux GCC overflow warning levels"
Using GCC 5.2.1 on Linux Thrive fails to compile
[code]
The code
[code]
seems to be correct meaning that GCC warning levels are cranked too high as this question on stackoverflow indicates that this warning can give false positives http://stackoverflow.com/questions/18521501/assuming-signed-overflow-does-not-occur-in-if-statement

I tried rewriting the code multiple times but it seems that `iter =

[2015-12-12 18:09] hhyyrylainen commented on #369
Changing `-Wstrict-overflow=5` to `-Wstrict-overflow=2` suppresses those warnings

[2015-12-12 20:15] jjonj commented on #368
Sounds good! Yeah the bullet error is a bit tricky as we can only build bullet in debug mode on windows, we'll have to find a way to get it to work on both platforms!
When I built in the virtual machine I took notes, so if you run into other problems there might be a solution in this document: https://docs.google.com/document/d/1FGMzODYC8fRpW9uTvpN7YJ8vPJitA3GBuo998efgxJk/edit especially under "jj

[2015-12-12 20:24] jjonj commented on #369
I don't see anything against using the solution above! This issue can be fixed by editing cmake_modules\compiler_flags.cmake

[2015-12-12 20:34] jjonj opened #370 "Open AL related crash"
Issue has occured for at least 4 people.
One or two of these people have reported that 0.2.4 works fine for them (back then we used ogre ogg sound instead of cAudio, but both libraries rely on openAL)
The crash occurs when our assert checks whether openAL was initialized properly.
I've had contact with 1 person who has the issue and sent him a build that retried initializing openAL 10 times with i

[2015-12-13 20:30] Alex-the-666 opened #371 "Windowed mode"
Unable to have a windowed mode when selecting OpenGL in the Ogre launch Gui.

[2015-12-16 17:54] jjonj commented on #371
Is this option not available to you? http://i.imgur.com/IDfIGJB.png
If not could you show a screenshot of the options you have

[2015-12-18 15:39] hhyyrylainen opened #372 "Fixing Thrive on Linux"
Currently it is impossible to even build Thrive on linux.

I'm currently trying to get Thrive to build. I had to already make some changes:
- Replace FindFFMPEG.cmake with the one found in OgreFFMPEG
- Add install support to OgreFFMPEG CMakeLists.txt (I haven't made a pull request for that yet)
- Use a specific revision of cAudio as the latest one is broken
- Rename references to CEGUIVector2 to C

[2015-12-18 16:02] TheCreator-- commented on #372
Oh Beligum. That's my fault. You should be able to safely delete. I was just doing all of my prototyping on a Win32 application and then basically just copied and pasted the code.

[2015-12-19 20:57] jjonj commented on #372
Thanks for doing this hhyyrylainen!
You're right it's in a scrappy place for linux atm! Did you read my comments in the other linux thread, where I listed some of the workarounds we did to get it working?  https://github.com/Revolutionary-Games/Thrive/issues/368#issuecomment-164187122 and you can remove the windows.h np, it's not used

[2015-12-19 21:15] Alex-the-666 commented on #371
Well, I think I accidentally just pressed "go" or whatever. How do I go back to the ogre launch GUI?

[2015-12-20 11:15] hhyyrylainen commented on #372
I finally got it to compile after adding swresamble to the list of libraries Thrive.lib links against.
And the main menu shows up correctly which is great, though the game crashes when trying to launch.
Adding a bit of debugging statements and this is why it crashes:
[code]
Now I just need to figure out why the same workspace is added to the list of workspaces twice.

[2015-12-20 14:13] hhyyrylainen commented on #372
Created a pull request: https://github.com/Revolutionary-Games/Thrive/pull/373

[2015-12-20 19:31] jjonj commented on #371
delete ogre.cfg

[2015-12-23 00:34] Alex-the-666 commented on #371
Thanks, would have never solved that one without your help! :D

[2015-12-23 00:34] #371 closed

[2015-12-23 01:03] Alex-the-666 opened #374 "Texture Seam"
there's a small eyesore in microbe stage, the texture seam in the background. http://i.imgur.com/3ITNPYE.png

[2015-12-23 01:04] Alex-the-666 opened #375 ""Microbe Stage" appears as "MicrobeS""
Just the normal gui. http://i.imgur.com/m0r1iQC.png

[2015-12-23 01:06] Alex-the-666 opened #376 "Chloroplast never unlockable?"
Not sure if bug or intentional, but the chloroplast can never be unlocked. http://i.imgur.com/KlwpIDO.png

[2015-12-23 01:11] Alex-the-666 opened #377 "Organelles past the "arrow" sign in the microbe editor do not have a membrane"
http://i.imgur.com/Mo4nRqQ.png

putting organelles past the arrow sign or directly above it causes the cell membrane not to envelop the organelles, making them float around in nothing :P

[2015-12-23 01:13] Alex-the-666 opened #378 "Console Spam + FPS drop when cell makes noise"
Whenever another cell makes a noise the console is spammed and the FPS drops drastically. http://i.imgur.com/gr3tjz3.png

[2015-12-27 01:28] #376 closed

[2015-12-27 01:30] Moopli commented on #366
I'll leave this open so we can discuss refactoring the spawn system and powerups.

[2015-12-30 01:43] #368 closed

[2015-12-30 01:43] #372 closed

[2015-12-30 16:29] Moopli commented on #377
Any organelles placed far away from most of the other organelles will do the same. The membrane calculations do some averaging to produce a smooth shape, and that leaves some artifacts.

Would probably require a new membrane algorithm though.

[2015-12-30 16:30] Moopli commented on #369
Fixed with the merge of @hhyyrylainen's fork.

[2015-12-30 16:30] #369 closed

[2015-12-31 01:22] TheCreator-- commented on #377
Nope, that's actually partially my fault. The membrane starts with a square of constant length and makes it smaller. So this could easily be fixed by calculating the distance between the two fartherst away organelles and setting the "membrane square" side-length to be that distance.

[2015-12-31 01:25] TheCreator-- commented on #378
I'm pretty sure its not the cell noise that drops the FPS, but rather the fact that there are a bunch of new microbes that enter the screen that need to be calculated. Other than that, this issue is identical to #330.

[2015-12-31 01:25] #378 closed

[2015-12-31 01:26] TheCreator-- commented on #374
The background will soon be replaced with a parallax, multi-layer background, a big part of which will be made of compound clouds, so it's not really worth it to fix this atm.

[2015-12-31 01:28] TheCreator-- commented on #367
Could we simply create a shortcut in the root folder (instead of the batch file) and change the icon of the shortcut?

[2015-12-31 01:30] TheCreator-- commented on #375
This thread shows the current work done on the microbe stage GUI:
http://forum.revolutionarygamesstudio.com/t/microbe-gui/111/13

[2015-12-31 01:33] TheCreator-- commented on #364
Sorry, didn't get notified about your comment. Well, two was just an arbitrary number. I mean that it is impossible to absorb a compound with a potency of greater than 1. The reason you might want to do this is when you absorb the compound clouds, which might have a large concentration at one spot.

[2015-12-31 17:08] Alex-the-666 commented on #374
oh ok.

[2016-01-01 14:21] #374 closed

[2016-01-02 19:14] jjonj commented on #370
Fixed with #63ac6c49e2

[2016-01-02 19:14] #370 closed

[2016-01-02 19:15] jjonj commented on #367
I tried that, but you can't move the shortcut to a different computer and have it keep the icon (icons can't have relative paths), we'd need an installer to copy an icon to their windows directory for that to work

[2016-01-02 20:44] jjonj commented on #367
Fixed with  c88a8af

[2016-01-02 20:44] #367 closed

[2016-01-03 12:27] #325 closed

[2016-01-03 15:12] #306 closed

[2016-01-12 15:25] ptkato opened #381 "Main menu doesn't appear"
When starting the game it opens fine, the music plays, but there's no menu. It was reported at [reddit](https://www.reddit.com/r/thrive/comments/3wrm3w/starting_game_has_no_menu_help/?ref=share&ref_source=link) a few weeks ago.

![no menu appearing](http://i.imgur.com/7cw5FXj.jpg?1)

I'm using Windows 7 and 0.3.0 release.

[2016-01-17 17:26] TjWhale opened #382 "Respawn location"
ATM the player respawns where they died which is a problem for cells that can't move and may become a problem later on if there are particularly vicious predators. It might be good to make the player respawn in a new place.

[2016-01-19 17:51] Oliveriver commented on #381
Hmm...whenever this has come up I've always been really confused, and to finally see a screenshot makes it even weirder. The background is even handled by exactly the same set of files as the GUI, so I have no idea what could be going on.

Could you check a couple of things to make sure it isn't something simple we've been missing:

 - Are there files called ThriveGeneric.png and ThriveGeneric.ima

[2016-01-19 23:33] ptkato commented on #381
Yes, there are the files: [ThriveGeneric.zip](https://github.com/Revolutionary-Games/Thrive/files/96717/ThriveGeneric.zip)

I don't know, never realized that, but I guess it centres itself. About the 0.2.4, the latest release (0.3.0) is the first one that I'm really running, so I can't state anything.

[2016-01-20 16:35] jjonj commented on #381
Could you try replacing your assets/gui/layouts/MainMenu.layout with this file (rename it to .layout instead of .txt) and lemme know if you just get a black screen with a bit of text or if you see the buttons:

[MainMenu.txt](https://github.com/Revolutionary-Games/Thrive/files/97719/MainMenu.txt)

[2016-01-22 19:26] ptkato commented on #381
I got only a black screen with no text.

![no menu](http://i.imgur.com/YXd52GG.png)

[2016-01-23 14:32] Oliveriver commented on #381
@jjonj Could it be that there's something wrong with the PolyButton definition? Since 0.2.3 only the buttons have been breaking, all other element types seem to work fine.

[2016-01-23 22:36] jjonj commented on #381
We could try letting ptkato use a normal button to find out, it's just really strange though

[2016-01-25 18:20] TheCreator-- opened #384 "Scroll not working"
Not sure if this is just my laptop or not, but ever since the linux merge the scroll wheel no longer zooms out in the microbe stage. Can someone try replicating this issue?

[2016-01-29 16:31] Levi59 opened #385 "Can't start game (W10 - "l'application a cessé de fonctionner")"
Hi!

I have downloaded  the last zip of thrive and when i launch the bat file, i get a black screen and then windows says that thrive has crashed and search for a solution. The first time, I've been prompt to choose option so I have chosen the only choice (opengl) and nothing more But it don't display anymore.

Am i forgetting something?

[2016-01-29 16:53] TheCreator-- commented on #384
False alarm. The scroll wheel on my laptop broke :(

[2016-01-29 16:53] #384 closed

[2016-02-04 21:01] jjonj commented on #385
I also posted in the forum post you made but perhaps you missed it. Try this version and let me know if it works: mega.nz/#!URJi0SCT!47BC69Z1wRphzhHkQ9ykeTjn6IMu1sVXa96RQR5l-n4

[2016-02-04 21:01] #385 closed

[2016-02-10 19:17] Oliveriver commented on #291
@jjonj @TheCreator--

Are you planning the simple route of just adding a cheap blank organelle that just adds size to the cell and consumes small amounts of ATP, or are you going to have it be a base organelle which needs to be placed before adding others? My thinking is that the latter might be too complicated a concept for players to handle until we get a tutorial or better GUI in place, but the

[2016-02-10 23:45] TheCreator-- commented on #291
Well, I still don't see a purpose for cytoplasm organelles, so I'm just going to do what you guys tell me to do :p

But I think we could allow the player to do both. If you place a mitochondrion on cytoplasm, you pay 25mp, on the other hand, if you place it on a place without cytoplasm, you automatically purchase 2 cytoplasm tiles and pay 45. I also believe we decided against cytoplasm consuming A

[2016-02-11 20:25] jjonj commented on #377
Fixed with #e26bf68a12f

[2016-02-11 20:25] #377 closed

[2016-02-12 23:25] lukaandjelkovic opened #387 "Title of species is cut up at start and at end, and it doesn't save"
Maybe most of you know that every screenshot have broken species title.
Also it doesn't change, it's always DefaultMicrobe.

[2016-02-12 23:34] TheCreator-- commented on #387
Duplicate of #375.

[2016-02-12 23:35] #387 closed

[2016-02-13 10:58] lukaandjelkovic opened #389 "Microbe Editor - Flagellum glitch"
If i click flagellum, and then set it into cell, one flagellum would spawn at right side of cell, rotated 90 degrees into left.

 Sorry for my bad english, also another litle question:

Why are you coding half in Lua and half in C++? C++ is fastest language, idk why would scripts folder be in Lua.

[2016-02-13 11:00] lukaandjelkovic commented on #335
Also control settings, to change current controls - That would not be hard to develop, (That doesn't need any alghoritms and maths to do that)

[2016-02-13 11:01] lukaandjelkovic commented on #293
Is this still open? For which version is scheduled?

[2016-02-13 11:21] lukaandjelkovic opened #390 "Microbe Stage - Help Menu have no scrollbars, cuts text"
If i click on help button (on bottom-left corner), the menu which pops out have no scrollers, and so glitches the text.

[2016-02-13 11:27] ghost opened #391 "Microbe Stage - GUI weird on extreme resolutions (low and high)"
I just tried to load Thrive 0.3.0 into 640 x 480, and the buttons and menus were so large that i even wasn't able to see what is around my cell.

Should implement the basic GUI scaling.

[2016-02-13 19:09] lukaandjelkovic commented on #375
Fixed by #392.

[2016-02-13 21:01] TheCreator-- commented on #390
Duplicate of #334

[2016-02-13 21:01] #390 closed

[2016-02-13 21:04] TheCreator-- commented on #39
There is now a parallax background in 0.3.1

[2016-02-13 21:04] #39 closed

[2016-02-13 21:05] TheCreator-- commented on #308
You fixed this, right?

[2016-02-13 21:50] TheCreator-- commented on #335
Honestly, changing the controls [i]would[/i] be hard to develop, since currently they are all hardcoded in.

[2016-02-13 22:07] lukaandjelkovic commented on #335
@TheCreator-- hey, i want to help in C++ programming. What can i do?
Also, can you say me what can i do with Lua?

[2016-02-14 16:24] jjonj commented on #389
Hrmm, could you give a screenshot of the problem you're seeing?

We use lua for two reasons:
 - It's a lot faster to program things in when we don't need to recompile every time
 - It enables modders to change the game

Things where speed is important we want to use C++

[2016-02-14 16:28] jjonj commented on #335
@lukaandjelkovic are you able to compile the game yet?
Are you asking which parts we use lua for and which parts we use C++ for, or are you just saying you can help in either language?

[2016-02-14 16:29] jjonj commented on #293
It was scheduled for 0.2.5, but we're past that already so it'll just come in whenever it is ready.
I expect moopli will finish it when he has the time!

[2016-02-14 17:24] TheCreator-- commented on #293
Here are the current release plans if you're interested:
http://forum.revolutionarygamesstudio.com/t/future-release-plans/129

[2016-02-14 17:41] jjonj opened #394 "Create the missing symmetry buttons"
All we have currently I don't think we need any greyed out version called SymmetryUnavailable
This involves editing assets/gui/imagesets/ThriveGeneric.png and assets/gui/imagesets/ThriveGeneric.imageset
"The white line signifies the symmetry and is supposed to change to a cross for 4-way symmetry, and six intersecting lines for hexagonal."

[2016-02-14 18:03] Oliveriver commented on #394
I have the images somewhere from when I first created the GUI, I just need computer access to get them (which I'll have in like a day or two).

[2016-02-14 18:20] TheCreator-- commented on #394
We'll need to create a new type of button, though, right? Because we want it to cycle through the images. Or would it be possible to just have 4 different buttons and replace them depending on which one is selected?

[2016-02-15 18:04] TheCreator-- opened #396 "Refactor organelle addition"
To add a cytoplasm organelle I have to add multiple lines in 4 different files, and this was before I even added the things that the cytoplasm was supposed to be. It was just a plain organelle. This should somehow be refactored to a single function that adds an organelle to the scroll bar.

[2016-02-15 19:02] TheCreator-- commented on #394
Fixed with #397!

[2016-02-15 19:02] #394 closed

[2016-02-15 19:02] TheCreator-- commented on #389
Fixed with #397!

[2016-02-15 19:02] #389 closed

[2016-02-15 19:03] TheCreator-- commented on #375
Fixed with #397!

[2016-02-15 19:03] #375 closed

[2016-02-15 23:37] lukaandjelkovic opened #398 "0.3.1 should be released"
It's mid of february, this is right time!
You have enough changes in this release.
Or maybe for few days?

[2016-02-15 23:38] TheCreator-- commented on #398
Not really an issue.

[2016-02-15 23:38] #398 closed

[2016-02-15 23:39] lukaandjelkovic commented on #335
@jjonj, well i learned little part of Lua here, but i dislike the 1337 MinGW and other similar programming preparations and packages. (I was using the "New Project>C++" in Visual Studio for my old failed projects).

[2016-02-15 23:40] TheCreator-- commented on #291
Fixed with #397

[2016-02-15 23:40] #291 closed

[2016-02-15 23:43] lukaandjelkovic commented on #396
I should first read some kind of documentation of Thrive code to help...

[2016-02-16 21:54] TheCreator-- opened #399 "Make thriveversion.ver change the displayed version in the main menu"
Right now, to change the version, you have to actually change the mainmenu.layout file. A better way would be to have the setup.lua or the main_menu_hud.lua script read the thriveversion.ver file and change the text accordingly. This should be fairly easy to do by using the setParameter(value, parameterName) function.

[2016-02-16 22:27] lukaandjelkovic opened #400 "Game restarts when i pick up Chloroplast"
I was just testing Thrive, and set these settings:
1366x768
FSAA=0
Fullscreen=Yes
VSync=Yes
VSyncInterval=1
And i saved a game immediately when cell eaten me.
I had two chloroplast organneles.
Restarted game, and run'd it again.
I pressed Load game.
Now if you pick up chloroplast, game crashes with OpenAL error : Invaild value.

[2016-02-16 22:28] ghost opened #401 "OpenAL spews out errors if you load a saved game."
I was just testing Thrive, and set these settings:
1366x768
FSAA=0
Fullscreen=Yes
VSync=Yes
VSyncInterval=1
And i saved a game immediately when cell eaten me.
I had two chloroplast organneles.
Restarted game, and run'd it again.
I pressed Load game.
Now if you pick up chloroplast, game crashes with OpenAL error : Invaild value.
Should be graphics problem.

[2016-02-16 22:30] #400 closed

[2016-02-17 03:32] TheCreator-- commented on #400
@lukaandjelkovic, next time when you have a bug or issue, could you try to post it [here](http://thrivegame.freeforums.net/board/19/bug-reports)? I think that sub-board would be more appropriate than making a new Github issue every time you find something. Thanks!

[2016-02-17 17:43] lukaandjelkovic opened #402 "I can't compile Thrive"
When i'm tried to compile Thrive, while i was compiling i get "Can't find GCC bla bla..." so i checked up the directory where it was installed, setted it up to (C:/MinGW, where it really is) but i noticed that in your precompiled RAR file of Mingw, wasn't the normal gcc executables, they were i686-gcc.

**I AM REALLY SORRY FOR THIS BAD ENGLISH. I HOPE YOU WILL UNDERSTAND WHAT AM I TRIED TO SAY.**

[2016-02-17 17:44] lukaandjelkovic commented on #330
This is very easy, but can you say me in which file it spam??? I can't find.

[2016-02-17 21:04] jjonj commented on #330
Well the actual spamming is from cAudios source code, what I was thinking is that we should be able to give parameter or somehow tell cAudio to not print out all the information.
We initialise cAudio here: https://github.com/Revolutionary-Games/Thrive/blob/master/src/sound/sound_manager.cpp#L72
cAudios source code can be found here: https://github.com/R4stl1n/cAudio

[2016-02-17 21:10] jjonj commented on #402
Hrmm. i686 means that it's made for 32bit on a standard intel or amd cpu. Are you running an ARM processor?

[2016-02-18 21:25] TheCreator-- commented on #401
@lukaandjelkovic, next time when you have a bug or issue, could you try to post it [here](http://thrivegame.freeforums.net/board/19/bug-reports)? I think that sub-board would be more appropriate than making a new Github issue every time you find something. Thanks!

[2016-02-19 22:16] lukaandjelkovic commented on #402
Oh, sorry i didn't responded, No, i'm running x64 bit processor. I have no gcc executables in .rar file you gived on the Mega cloud in your tutorial to setup C++ developement.

[2016-02-19 22:23] lukaandjelkovic opened #404 "Removing a organnele from cell in editor take DNA"
If i set organnele, (like Mitochondria), i lose DNA points.
Then when i right click on it (To remove it), i lose DNA points again.
So basically, that should be reverse. I should get my DNA points back when i remove it.
Oooops, sorry @TheCreator-- , i posted it onto GitHub again.

[2016-02-19 23:15] TheCreator-- commented on #404
Yes. Please make sure to post on the community forums next time. Also, you should really consider reading through the GDD and the past posts on the devblog, because this issue (and a lot of the other ones you've posted) have already been discussed. For this one, deleting an organelle _should_ cause you to lose DNA points because it is a change from the previous generation.

[2016-02-19 23:15] #404 closed

[2016-02-20 17:21] lukaandjelkovic commented on #404
BUT @TheCreator--, what if it's just bringed down to cell accidentaly and you back it in the same second? It should take out DNA when it was before the cell had sex.

[2016-02-20 17:23] TheCreator-- commented on #404
Then use the undo button.

[2016-02-20 17:30] Oliveriver commented on #404
That should ideally cost nothing since it's effectively the same thing but right now it's not a priority.

[2016-02-24 20:06] jjonj commented on #402
The i686 files should work then, what problem are you experiencing?

[2016-02-25 16:55] TheCreator-- commented on #360
Okay, I fixed this issue. Unfortunately, it resulted in some cells not having a membrane. I'll look into this.

[2016-02-27 15:25] lukaandjelkovic commented on #402
"Can't find GCC executables.

[2016-02-27 15:43] lukaandjelkovic opened #406 "{Idea} : Add Gitter chat"
Almost every repository (which have more than 80 stars and 40 watches and more) have it own Gitter chat. Don't add (Not really an issue.)

[2016-02-27 15:49] Oliveriver commented on #406
[We do have one actually.](https://gitter.im/Revolutionary-Games/Thrive?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge&content=body_link)

We set it up back when we weren't sure what conversation platform we should be using (mostly in response to reaching the 10,000 message limit on [Slack](https://slack.com/), which we've now learnt to live with and are using as the main developer chat).

[2016-02-27 15:49] #406 closed

[2016-02-27 20:09] jjonj commented on #402
If it's cmake making that error, did you make sure to give it the toolchain like described here: https://github.com/Revolutionary-Games/Thrive/blob/master/mingw_setup/readme.txt#L163

Or if it's codeblocks giving the error did you try this:https://github.com/Revolutionary-Games/Thrive/blob/master/mingw_setup/readme.txt#L180 ?

[2016-02-27 20:51] lukaandjelkovic commented on #402
No it isn't any of them.

[2016-02-28 19:26] TheCreator-- commented on #330
So I messaged the guy who is developing cAudio, and this was his response:

[2016-02-28 21:18] nerai opened #407 "Am I supposed to swallow nutrients?"
I built a J shaped cell, so the nutrient sources were collected and stored inside me simply by driving by. Like gathering rain in an umbrella lying on the wrong side. Of course I never had ATP or similar trouble ever again.

What's more, it seems that aggressive cells only shoot toxin when they are close to my nucleus. Since the J shape added a big 'butt', they simply gathered behind me, never att

[2016-02-29 01:11] TheCreator-- commented on #407
Don't worry, this is already fixed on the CompoundClouds branch. We no longer have discrete compound emitter; they have been replaced with compound clouds.

[2016-02-29 01:11] #407 closed

[2016-02-29 02:05] ptkato opened #409 "Unable to compile under Arch Linux"
I've installed all the libs listed under the readme.md from this repository, but the error while cmake persists:

[code]

Strangely enough, CEGUI **is** installed:

[code]

Any clues?

[2016-02-29 02:20] ptkato commented on #381
Well, I got rid of Windows, can't test it anymore, but my video card is an onboard one called Ironlake Mobile.

[2016-02-29 08:02] hhyyrylainen commented on #409
CMake can't find CEGUI because you need the unstable version. Which is always version number 9999, so you will have to compile from source. Check how https://github.com/Revolutionary-Games/Thrive/blob/master/SetupThrive.sh does Thrive compilation.

[2016-03-01 00:45] ptkato commented on #409
I'm confused, why the unstable version is needed? Can I avoid using it? Because I can't compile, it throws me a compilation error.

[2016-03-01 07:23] hhyyrylainen commented on #409
At least the last time I checked Thrive needed Ogre 2.0 and for that CEGUI needs to be the unstable version. You will also need to compile Ogre 2.0 from the v2-0 branch. That script compiles all the dependencies, but it's only for Fedora and Ubuntu so you will need to look up the names of the packages for Arch.

[2016-03-01 18:13] jjonj commented on #409
Yeah, unfortunately we need that version. However you are free to add paths to https://github.com/Revolutionary-Games/Thrive/blob/master/cmake_modules/FindCEGUI.cmake So if you can figure out where CEGUI is installed, and then add the needed paths so it can find the headers and libraries!

[2016-03-01 18:17] jjonj commented on #409
Yeah unfortunately we need the unstable versions for ogre 2.0. Compiling from source is a pain but until they officially release ogre 2.0 that is how we have to do it.
It looks like you have ogre 1.9 installed, so you might also need to compile ogre from source.
If you can give some specific compilation errors then we can naturally do our  best to help!

[2016-03-01 18:20] jjonj commented on #402
Sorry for the late reply, Could you provide a screenshot or some more details on when the error occurs then?

[2016-03-01 19:14] jjonj opened #410 "Remove old unused systems"
Examples:
~~SkySystem~~, OgreOverlaySystem and possibly others!

Also remove any associated tests that might exist

Good beginner assignment

[2016-03-01 19:16] TheCreator-- commented on #410
We need skysystem. That's what I use  for the parallax background. But
yeah, we don't need compoundemitter system.
On Mar 1, 2016 11:14 AM, "jjonj" <notifications@github.com> wrote:

[2016-03-01 19:19] jjonj commented on #410
We don't need compound emitter?? Or did you mean to say overlay?

[2016-03-01 19:24] TheCreator-- commented on #410
We no longer need compound.h, compoundEmitter, compoundTimedEmitter and all those other stuff. They are now a part of compoundClouds and compoundAbsorber.

[2016-03-01 19:28] jjonj commented on #410
Oh right ofc!

[2016-03-02 01:45] ptkato commented on #409
Ogre compiles fine. As of now, the problem is with cegui. About the errors, shouldn't I report the errors back to the cegui repository at bitbucket? Anyway, here it goes:

[code]

[2016-03-02 18:04] jjonj commented on #409
Hrmm yeah that looks like errors in some new CEGUI stuff. Perhaps you can try an older commit on the branch. On windows we compile this https://bitbucket.org/cegui/cegui/commits/c84fae85c6d777c7140ea3a4a4c19db7e7b880bc?at=default specific commit of the default branch, you could try that or perhaps somewhere in between.

[2016-03-02 18:37] Oliveriver commented on #326
Does anyone have any ideas on how we could get some more detailed guidance into the game? Not a full tutorial for the time being, but some sort of overview screen when the player starts? It's something we should include for 0.3.2 in my opinion.

I put more info here: http://forum.revolutionarygamesstudio.com/t/tutorial/106/6

[2016-03-02 22:10] TheCreator-- commented on #326
Well, we already have this:
[screenshot](https://cloud.githubusercontent.com/assets/6326563/13477252/6d1fa6ca-e080-11e5-80aa-8d0d3eb8d45a.png)
I guess we can just make it pop up automatically?

[2016-03-05 05:14] TheCreator-- commented on #410
I'll remove the systems that I "invalidated", but I'm not sure about many of the others.

[2016-03-05 12:22] hhyyrylainen commented on #409
CEGUI default branch is currently broken, but I'm getting a different error. Although it is also related to utf32. One of the CEGUI devs said that he is currently working on string stuff.
I'll see if I can get a pull request in that fixes compiling.

[2016-03-05 12:56] hhyyrylainen opened #413 "Systems missing files required by the Lua scripts"
While fixing Thrive for linux (again) I had to comment out a few compound systems as one of the headers was deleted. Now it compiles fine but running it exits with this error

    [C]:-1 (metamethod __index)
    ../scripts/microbe_stage/microbe.lua:284

../scripts/microbe_stage/setup.lua:375: attempt to call global 'MicrobeSystem' (a nil value):
    [C]:-1 (global MicrobeSystem)
    ../scripts/mic

[2016-03-05 17:58] jjonj commented on #391
http://thrivegame.freeforums.net/thread/420/high-resolution-bugs

[2016-03-06 03:08] Moopli commented on #413
It was a bad merge, it should be good now.

[2016-03-06 03:09] Moopli commented on #366
I fixed this a while ago

[2016-03-06 03:09] #366 closed

[2016-03-06 03:26] femiaf13 commented on #396
I'd like to tackle this while at the same moving as much organelle code to C++ as I can.

[2016-03-06 05:40] TheCreator-- commented on #360
Fixed with 178f300ed8c17884c2cb74ff54cc25db9bdb44f6

[2016-03-06 05:40] #360 closed

[2016-03-06 07:26] #399 closed

[2016-03-10 03:44] FreeLikeGNU opened #418 "SetupThive.sh is not working for Ubuntu 14.04"
The SetupThrive.sh script has a few issues:
- The packages for Ubuntu are incorrect

These are the packages that are available in Ubuntu 14.04:

libbullet-dev libboost-dev build-essential automake libtool libfreetype6-dev \
 libfreeimage-dev libzzip-dev libxrandr-dev libxaw7-dev freeglut3-dev libgl1-mesa-dev \
 libglu1-mesa-dev libois-dev libboost-thread-dev libtinyxml-dev libglm-dev  libavutil-de

[2016-03-10 08:28] hhyyrylainen commented on #418
Have you tried compiling with any of those alternatives? If I remember correctly you will need libswresample.so and libavresample.so, at least so I would try to install those first.

The script should detect if it is ran from a folder called "thrive" and not pull another copy. Is that not working on ubuntu?

The script is for setting up a thrive project folder easily. The reason instructions would

[2016-03-11 07:22] hhyyrylainen commented on #418
Well, it does work on linux. At least on my machine and jjon's, but we seem to lack binary releases. I'm going to do a packaging script and do a proper binary release for linux, once I get around to it.
For my workflow it would be quite important to have the option for the install script to do everything it currently does. Maybe add a flag for allowing automatically sudo installing the things?

[2016-03-11 13:48] iqualfragile commented on #409
@jjonj the specified commit does not compile for me.
can you state what exact commits you need to compile your releases in the release notes?
sha of the commit of each unstable dependency and release number for each stable one?
also its rather bad to depend on unreleased unstable versions, cause things tend to explode.

[2016-03-11 14:33] FreeLikeGNU commented on #418
I would suggest that if you are going to do such a thing that the libraries be packaged before install so that they do not break a users installation or upgrade.  Users may be compiling/running other programs besides yours ;-)

[2016-03-11 14:39] hhyyrylainen commented on #418
Packaging the libraries might be an option, but I won't be supporting that.

The dependencies like CEGUI don't offer packaged dependencies either, so compiling the dependencies already messes with other installed versions of Ogre (there can only be one). So compiling the Thrive dependencies from source is already a pain, Thrive won't break things further.

A binary release should make everyone els

[2016-03-11 14:50] iqualfragile commented on #409
additionally it seems like v8 of cegui has support for ogre 2.0 now.

[2016-03-11 15:02] hhyyrylainen commented on #409
Last time I checked the default branch had a bunch of new features like input aggregator, which Thrive uses. So even if the 0.8 branch now supports Ogre 2.0 we are already stuck with the unstable branch until the next time a new stable branch is created.

[2016-03-11 15:12] iqualfragile commented on #409
ok, so which is the latest working hash on the default revision that actually compiles?
currently im getting:
`In file included from /home/build/cegui/cegui/include/CEGUI/StringTranscoder.h:30:0,
                 from /home/build/cegui/cegui/include/CEGUI/IconvStringTranscoder.h:30,
                 from /home/build/cegui/cegui/src/IconvStringTranscoder.cpp:27:
/home/build/cegui/cegui/include/CEGU